//Banner BEGIN
include banner/banner
//Banner END

//Products BEGIN
include products/products
//Products END

//Case BEGIN
include case/case
//Case END

//Plus BEGIN
include plus/plus
//Plus END

//Slider BEGIN
include slider/slider
//Slider END

//After BEGIN
include after/after
//After END

//Light BEGIN
include light/light
//Light END

//Dealers BEGIN
include dealers/dealers
//Dealers END

//Contacts BEGIN
include contacts/contacts
//Contacts END
