.btn {
  background-color: $accent;
  @include trs;
  color: #fff;
  font-size: 14px;
  letter-spacing: .15em;
  padding: px-to-em(24, 16) px-to-em(42, 16);
  display: inline-block;

  &:hover {
    background-color: darken($accent, 10%);
  }

  @include media(sm) {
    font-size: 12px;
  }

  &_dark {
    background-color: #285C80;

    &:hover {
      background-color: darken(#285C80, 10%);
    }
  }
}