.case {
  background: linear-gradient( 0deg, rgb(71,190,196) 0%, rgb(126,225,243) 100%);
  min-height: 664px;
  overflow: hidden;

  @include media(xl) {
    min-height: 570px;
  }

  @include media(lg) {
    min-height: 500px;
  }

  @include media(md) {
    min-height: auto;
    padding-bottom: 40px;
  }

  &__inner {

  }

  &__tabs {

    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      @include media(sm) {
        display: block;
        text-align: center;
        margin-bottom: 0;
      }

      .tab-btn {
        margin-right: 35px;
        letter-spacing: .12em;
        @include trs;
        background-color: #96AD99;
        color: #fff;
        cursor: pointer;
        padding: 10px 16px;

        @include media(sm) {
          margin: 0 auto 10px !important;
          display: block;
        }

        &_cur {
          background-color: $accent;
        }

        &:last-child {
          margin-right: 0;
        }

      }

    }

    &-contents {

      .tab-content {
        position: relative;

        &[data-tab-key="kit"] {

          .products {

            &__list {
              position: relative;
              z-index: 1;

              &-item {
                max-width: 36%;

                .products__list-item-img {
                  max-width: 75%;
                  max-height: 250px;
                  width: auto;
                }
              }

            }

          }
        }

        &-light {
          position: absolute;
          top: 20%;
          right: 0;
          transform: translate(50%, 0);

          @include media(xl) {
            top: -35%;
            right: 6%;
          }

          @include media(lg) {
            width: 140px;
            height: auto;
          }

          @include media(md) {
            width: 100px;
            top: -25%;
          }

          @include media(sm) {
            top: -16%;
            right: 12%;
          }

        }

      }

    }

  }


  .products {
    
    &__list {
      
      &-item {
        display: block;
        max-width: calc(100% / 3);

        @include media(md) {
          max-width: 50% !important;
        }

        @include media(sm) {
          max-width: 420px !important;
          margin-left: auto;
          margin-right: auto;
        }

        &_small-img {

          .products__list-item-img {
            margin-top: px-to-rem(40, 16);
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
          }

        }
      }
      
    }
    
  }

  .label {
    position: relative;
    cursor: pointer;

    &:hover {

      .label__content {
        display: block;
      }

    }

    &__content {
      display: none;
      position: absolute;
      bottom: 100%;
      left: calc(50% + 4px);
      transform: translate(-50%, 0);
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 0 20px 0 rgba(0, 17, 34, 0.13);
      min-width: 220px;
      padding: 20px;
      text-align: left;
      font-size: 14px;

      @include media(sm) {
        font-size: 12px;
        min-width: 180px;
        left: 0%;
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        border: 10px solid transparent;
        border-top-color: #fff;

        @include media(sm) {
          left: 64%;
        }

      }

      &-list {

        &-item {
          @include Geometria;
        }

      }

      &-title {
        display: block;
        margin-bottom: 6px;
      }

    }

    &__icon {
      width: 36px;
      height: 36px;
      margin-left: 8px;
    }

  }

}

