.case.sec#case
    .wrapper
        .case__inner
            .sec__titles.sec__titles_black
                span.sec__title Чехол и комплектующие

            ul.case__tabs.block-tabs
                .case__tabs-btns
                    button.tab-btn.tab-btn_cur(data-tab-key="kit") Комплект
                    button.tab-btn(data-tab-key="elements") Элементы


                .case__tabs-contents
                    .tab-content.tab-content_cur(data-tab-key="kit")
                        ul.products__list
                            li.products__list-item(data-id="8")
                                .products__list-item-content
                                    span.products__list-item-title
                                        span Комплект с окном
                                        span.label
                                            .label__content
                                                span.label__content-title В комплект входят:
                                                ul.label__content-list
                                                    li.label__content-list-item - Боковины
                                                    li.label__content-list-item - Крыша
                                                    li.label__content-list-item - Шотры с окнами
                                            img.label__icon(src="img/question.svg" alt="")

                                    img.products__list-item-img(src="img/case_4.png" alt="")

                                    .products__list-item-bottom
                                        .products__list-item-price
                                            span.products__list-item-price_first от
                                            span.products__list-item-price_second 220 руб

                                        button.products__list-item-cart
                                            img.products__list-item-cart-icon(src="img/cart.png" alt="")

                            li.products__list-item(data-id="9")
                                .products__list-item-content
                                    span.products__list-item-title
                                        span Комплект без окна
                                        span.label
                                            .label__content
                                                span.label__content-title В комплект входят:
                                                ul.label__content-list
                                                    li.label__content-list-item - Боковины
                                                    li.label__content-list-item - Крыша
                                                    li.label__content-list-item - Шотры с окнами
                                            img.label__icon(src="img/question.svg" alt="")

                                    img.products__list-item-img(src="img/case_5.png" alt="")

                                    .products__list-item-bottom
                                        .products__list-item-price
                                            span.products__list-item-price_first от
                                            span.products__list-item-price_second 220 руб

                                        button.products__list-item-cart
                                            img.products__list-item-cart-icon(src="img/cart.png" alt="")

                        img.tab-content-light(src="img/light-small.png" alt="")


                    .tab-content(data-tab-key="elements")
                        ul.products__list
                            li.products__list-item(data-id="10")
                                .products__list-item-content
                                    span.products__list-item-title Занавеска с окном
                                    img.products__list-item-img(src="img/case_1.png" alt="")
                                    .products__list-item-bottom
                                        .products__list-item-price
                                            span.products__list-item-price_first от
                                            span.products__list-item-price_second 220 руб

                                        button.products__list-item-cart
                                            img.products__list-item-cart-icon(src="img/cart.png" alt="")

                            li.products__list-item(data-id="11")
                                .products__list-item-content
                                    span.products__list-item-title Занавеска без окна
                                    img.products__list-item-img(src="img/case_2.png" alt="")
                                    .products__list-item-bottom
                                        .products__list-item-price
                                            span.products__list-item-price_first от
                                            span.products__list-item-price_second 220 руб

                                        button.products__list-item-cart
                                            img.products__list-item-cart-icon(src="img/cart.png" alt="")

                            li.products__list-item.products__list-item_small-img(data-id="12")
                                .products__list-item-content
                                    span.products__list-item-title Карман (1 шт.)
                                    img.products__list-item-img(src="img/case_3.png" alt="")
                                    .products__list-item-bottom
                                        .products__list-item-price
                                            span.products__list-item-price_first от
                                            span.products__list-item-price_second 220 руб

                                        button.products__list-item-cart
                                            img.products__list-item-cart-icon(src="img/cart.png" alt="")
