//Callback
.popup(data-popup-key="callback", role="dialog")
    .popup__wrap-content
        .popup__content

            button.popup__close.close-modal(aria-label="Закрыть модальное окно")

            form.form(data-form-type="callback")
                .titles
                    span.form__title Заказать звонок
                    span.form__subtitle Напишите, когда вам будет удобно поговорить,<br> и мы свяжемся с вами

                .form__wrap-fields.callform-fields
                    span.form__label(for="name") Ваше имя <span>*</span>
                    label.form__wrap-field.callback-input
                        input(type="text" placeholder="Ваше имя" required name="name").form__field

                    span.form__label Ваш номер телефона <span>*</span>
                    label.form__wrap-field.callback-input
                        input(id="callback-phonefield" type="tel" placeholder="+375 99 999-99-99" required name="phone").form__field

                    span.form__label Время звонка
                    .form__fields
                        label.form__wrap-field
                            select(name="time-from").form__field.form__select
                                option(value="9.00") 9.00
                                option(value="10.00") 10.00
                                option(value="12.00") 12.00
                                option(value="13.00") 13.00
                                option(value="14.00") 14.00
                                option(value="15.00") 15.00
                                option(value="16.00") 16.00
                                option(value="17.00") 17.00
                                option(value="18.00") 18.00

                        span –

                        label.form__wrap-field
                            select(name="time-to").form__field.form__select
                                option(value="9.00") 9.00
                                option(value="10.00") 10.00
                                option(value="12.00") 12.00
                                option(value="13.00") 13.00
                                option(value="14.00") 14.00
                                option(value="15.00") 15.00
                                option(value="16.00") 16.00
                                option(value="17.00") 17.00
                                option(value="18.00" selected) 18.00


                button(type="submit").form__btn.btn Отправить


//Message
.popup(data-popup-key="message", role="dialog")
    .popup__wrap-content
        .popup__content

            button.popup__close.close-modal(aria-label="Закрыть модальное окно")

            form.form(data-form-type="callback")
                .titles
                    span.form__title Напишите нам

                .form__wrap-fields
                    //- span.form__label Ваше имя <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="Ваше имя" required name="name").form__field

                    //- span.form__label Ваш E-mail <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="Ваш E-mail" required name="mail").form__field

                    label.form__wrap-field.callback-input
                        input(id="callback-phonefield" type="tel" placeholder="+375 99 999-99-99" required name="phone").form__field

                    //- span.form__label Ваше сообщение
                    label.form__wrap-field
                        textarea(placeholder="Ваше сообщение" name="message").form__field.form__field_textarea


                button(type="submit").form__btn.btn Отправить


//Products
.popup.popup_right(data-popup-key="products", role="dialog")
    .popup__wrap-content
        .popup__content
            button.popup__close.close-modal.general-modal(aria-label="Закрыть модальное окно")
            .cart.modal-btn(data-popup-key="cart")
                img.cart__icon(src="img/cart.png" alt="")
                span.cart__count 0
            
            .titles
                span.form__title Тип каркаса

            ul.popup__tabs.block-tabs
                .popup__tabs-btns
                    button.tab-btn.tab-btn_cur(data-tab-key="Снежок") Снежок
                    button.tab-btn(data-tab-key="Ромашка") Ромашка
                    button.tab-btn(data-tab-key="Облако") Облако
                    button.tab-btn(data-tab-key="Чайка") Чайка
                    button.tab-btn(data-tab-key="Апельсин") Апельсин
                    button.tab-btn(data-tab-key="Черника") Черника
                    button.tab-btn(data-tab-key="Бирюза") Бирюза


                .popup__tabs-contents
                    .tab-content.tab-content_cur(data-tab-key="Снежок")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="1")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 
                                        span.products__list-item-price_second_currency руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках


                            .right
                                img(src="img/prod_1.png" alt="")


                    .tab-content(data-tab-key="Ромашка")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="2")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках


                            .right
                                img(src="img/prod_2.png" alt="")


                    .tab-content(data-tab-key="Облако")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="3")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                            .right
                                img(src="img/prod_3.png" alt="")


                    .tab-content(data-tab-key="Чайка")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="4")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках


                            .right
                                img(src="img/prod_4.png" alt="")


                    .tab-content(data-tab-key="Апельсин")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="5")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках


                            .right
                                img(src="img/prod_5.png" alt="")


                    .tab-content(data-tab-key="Черника")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="6")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Материал каркаса:
                                        span.product__info-item-value Металл

                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160


                            .right
                                img(src="img/prod_6.png" alt="")


                    .tab-content(data-tab-key="Бирюза")
                        .tab-content__inner
                            .left
                                .left__top.products__list-item(data-id="7")
                                    .products__list-item-price
                                        span.products__list-item-price_first от
                                        span.products__list-item-price_second 220 руб

                                    button.products__list-item-cart
                                        img.products__list-item-cart-icon(src="img/cart.png" alt="")

                                ul.product__info
                                    li.product__info-item
                                        strong.product__info-item-label Размер (В*Ш*Г),мм:
                                        span.product__info-item-value 1660*790*1700

                                    li.product__info-item
                                        strong.product__info-item-label Размер спального места, см:
                                        span.product__info-item-value 70х160

                                    li.product__info-item
                                        strong.product__info-item-label Доп. информация:
                                        span.product__info-item-value Реечное основание под матрас, дымоход (труба), защитные съемные бортики. Выдерживает до 150-180кг веса на основание и до 80 кг на перекладинах и бортиках


                            .right
                                img(src="img/prod_7.png" alt="")



            .popup__other
                span.popup__other-title Вам нужен чехол для домика?

                ul.products__list
                    li.products__list-item(data-id="8")
                        .products__list-item-content(style="background-color: #71E6EB;")
                            span.products__list-item-title
                                span Комплект с окном

                            img.products__list-item-img(src="img/case_4.png" alt="")

                            .products__list-item-bottom
                                .products__list-item-price
                                    span.products__list-item-price_first от
                                    span.products__list-item-price_second 220 
                                    span.products__list-item-price_second_currency руб

                                button.products__list-item-cart
                                    img.products__list-item-cart-icon(src="img/cart.png" alt="")

                    li.products__list-item(data-id="9")
                        .products__list-item-content(style="background-color: #71E6EB;")
                            span.products__list-item-title
                                span Комплект без окна

                            img.products__list-item-img(src="img/case_5.png" alt="")

                            .products__list-item-bottom
                                .products__list-item-price
                                    span.products__list-item-price_first от
                                    span.products__list-item-price_second 220 
                                    span.products__list-item-price_second_currency руб

                                button.products__list-item-cart
                                    img.products__list-item-cart-icon(src="img/cart.png" alt="")



            .popup__other
                span.popup__other-title Полезные дополнения

                ul.products__list
                    li.products__list-item(data-id="10")
                        .products__list-item-content(style="background-color: #8798F5;")
                            span.products__list-item-title Занавеска с окном
                            img.products__list-item-img(src="img/case_1.png" alt="")
                            .products__list-item-bottom
                                .products__list-item-price
                                    //- span.products__list-item-price_first от
                                    span.products__list-item-price_second 20 
                                    span.products__list-item-price_second_currency руб

                                button.products__list-item-cart
                                    img.products__list-item-cart-icon(src="img/cart.png" alt="")

                    li.products__list-item(data-id="11")
                        .products__list-item-content(style="background-color: #8798F5;")
                            span.products__list-item-title Занавеска без окна
                            img.products__list-item-img(src="img/case_2.png" alt="")
                            .products__list-item-bottom
                                .products__list-item-price
                                    //- span.products__list-item-price_first от
                                    span.products__list-item-price_second 14 
                                    span.products__list-item-price_second_currency руб

                                button.products__list-item-cart
                                    img.products__list-item-cart-icon(src="img/cart.png" alt="")

                    li.products__list-item.products__list-item_small-img(data-id="12")
                        .products__list-item-content(style="background-color: #FFC300;")
                            span.products__list-item-title Карман (1 шт.)
                            img.products__list-item-img(src="img/case_3.png" alt="")
                            .products__list-item-bottom
                                .products__list-item-price
                                    //- span.products__list-item-price_first от
                                    span.products__list-item-price_second 10 
                                    span.products__list-item-price_second_currency руб

                                button.products__list-item-cart
                                    img.products__list-item-cart-icon(src="img/cart.png" alt="")


            form.form.form_questions(data-form-type="question")
                .titles
                    span.form__title Задавайте вопросы!

                .form__wrap-fields
                    //- span.form__label Ваше имя <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="Как Вас зовут?" required name="name").form__field

                    //- span.form__label Ваш E-mail <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="Ваш E-mail" required name="mail").form__field

                    //- span.form__label Ваш телефон <span>*</span>
                    label.form__wrap-field
                        input(type="tel" placeholder="Ваш телефон" required name="phone").form__field

                    //- span.form__label Ваше сообщение
                    label.form__wrap-field
                        textarea(placeholder="Ваше сообщение" name="message").form__field.form__field_textarea


                button(type="submit").form__btn.btn Отправить


            .popup__other
                .titles
                    span.form__title Звоните и приезжайте

                ul.contacts-list
                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/address.png" alt="")
                        span.contacts-list__item-title Наш адрес
                        p.contacts-list__item-text г. Минск, ул. Машиностроителей 29А, пом. 33

                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/msg.png" alt="")
                        span.contacts-list__item-title Телефоны / почта
                        span.contacts-list__item-text +375 (29) 388-66-96
                        span.contacts-list__item-text +375 (17) 388-66-30
                        a.contacts-list__item-text(href="mailto:roznica@elporta.by") roznica@elporta.by

                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/weather.png" alt="")
                        span.contacts-list__item-title Режим работы
                        span.contacts-list__item-text
                            small пн.-сб.:
                            span 09:00 - 17:00
                        span.contacts-list__item-text
                            small вс.:
                            span выходной


//Pay
.popup.popup_right(data-popup-key="pay", role="dialog")
    .popup__wrap-content
        .popup__content

            button.popup__close.close-modal(aria-label="Закрыть модальное окно")

            .titles
                span.form__title Способы оплаты

            .pay__content
                span.pay__title Подзаголовок, например
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                ul
                    li Какой-то список
                    li Какой-то еще один
                    li Какой-то список
                    li Какой-то еще один
                    li Какой-то список


            form.form.form_questions(data-form-type="question")
                .titles
                    span.form__title Задавайте вопросы!

                .form__wrap-fields
                    span.form__label Ваше имя <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="Дмитрий Александров" required name="name").form__field

                    span.form__label Ваш E-mail <span>*</span>
                    label.form__wrap-field
                        input(type="text" placeholder="example@gmail.com" required name="mail").form__field

                    span.form__label Ваш телефон <span>*</span>
                    label.form__wrap-field
                        input(type="tel" placeholder="+375 99 999-99-99" required name="phone").form__field

                    span.form__label Ваше сообщение
                    label.form__wrap-field
                        textarea(placeholder="Текст сообщения" name="message").form__field.form__field_textarea


                button(type="submit").form__btn.btn Отправить


            .popup__other
                .titles
                    span.form__title Звоните и приезжайте

                ul.contacts-list
                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/address.png" alt="")
                        span.contacts-list__item-title Наш адрес
                        p.contacts-list__item-text г. Минск, ул. Машиностроителей 29А, пом. 33

                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/msg.png" alt="")
                        span.contacts-list__item-title Телефоны / почта
                        span.contacts-list__item-text +375 (29) 388-66-96
                        span.contacts-list__item-text +375 (17) 388-66-30
                        a.contacts-list__item-text(href="mailto:roznica@elporta.by") roznica@elporta.by

                    li.contacts-list__item
                        img.contacts-list__item-icon(src="img/weather.png" alt="")
                        span.contacts-list__item-title Режим работы
                        span.contacts-list__item-text
                            small пн.-сб.:
                            span 09:00 - 17:00
                        span.contacts-list__item-text
                            small вс.:
                            span выходной


//Cart
.popup.popup_right(data-popup-key="cart", role="dialog")
    .popup__wrap-content
        .popup__content

            button.popup__close.close-modal(aria-label="Закрыть модальное окно")

            .titles
                span.form__title Корзина

            #cart.cart-no-empty
                .cart-empty(v-show="!resultProducts.length")
                    span.form__subtitle Товаров нет

                ul.cart__content(v-show="resultProducts.length")
                    li.cart__content-item(
                        v-for="product in resultProducts"
                        :key="product.id"
                    )
                        img.cart__content-item-remove(
                            @click="removeProduct(product.id)"
                            src="img/trash.svg"
                            alt=""
                        )

                        .cart__content-item-wrap-img
                            img(:src="product.img" alt="")

                        span.cart__content-item-name {{ product.name }}

                        .cart__content-item-counter
                            .cart__content-item-counter-btn.cart__content-item-counter-less(@click="lessProduct(product.id)")
                                img(src="img/arrow-black.svg" alt="")

                            span.cart__content-item-counter-result {{ product.count }}

                            .cart__content-item-counter-btn.cart__content-item-counter-more(@click="moreProduct(product.id)")
                                img(src="img/arrow-black.svg" alt="")

                        span.cart__content-item-result
                            span.price {{ product.count * product.price }}
                            span.type руб


                .cart__content-result(v-show="resultProducts.length")
                    .cart__content-text Итого:
                    span.cart__content-price {{ totalPrice }}
                    span.cart__content-price-type руб


                form.form.form-cart(data-form-type="cart" v-show="resultProducts.length")
                    .titles
                        span.form__title Оформление заказа

                    .form__wrap-fields
                        span.form__label Ваше имя <span>*</span>
                        label.form__wrap-field
                            input(type="text" placeholder="Дмитрий Александров" required name="name").form__field

                        span.form__label Ваш E-mail
                        label.form__wrap-field
                            input(type="text" placeholder="example@gmail.com" name="mail").form__field

                        span.form__label Ваш телефон <span>*</span>
                        label.form__wrap-field
                            input(type="tel" placeholder="+375 99 999-99-99" required name="phone").form__field

                        span.form__label Ваш город <span>*</span>
                        label.form__wrap-field
                            input(type="text" placeholder="Минск" required name="city").form__field

                        span.form__label Ваш адрес <span>*</span>
                        label.form__wrap-field
                            input(type="text" placeholder="Улица, дом, квартира" required name="address").form__field

                        .form__fields
                            label.form__radio(for="radio1")
                                input(type="radio" id="radio1" checked name="type_pay" value="cash")
                                .form__radio-box
                                span.form__radio-text Оплата наличными

                            label.form__radio(for="radio2")
                                input(type="radio" id="radio2" name="type_pay" value="card")
                                .form__radio-box
                                span.form__radio-text Оплата картой


                        span.form__label Ваше сообщение
                        label.form__wrap-field
                            textarea(placeholder="Текст сообщения" name="message").form__field.form__field_textarea


                    button(type="submit" data-popup-key="success").form__btn.btn.modal-btn Отправить


//Success
.popup(data-popup-key="success", role="dialog")
    .popup__wrap-content
        .popup__content

            button.popup__close.close-modal(aria-label="Закрыть модальное окно")

            img.popup-icon(src="img/baby.svg" alt="")

            .titles
                span.form__title Ура! Все готово!
                span.form__subtitle Большущее спасибо<br> за ваш заказ!<br> Наши менеджеры очень скоро <br> с вами свяжутся!

            button(type="submit").form__btn.btn.close-modal Вернёмся на главную?

