.popup {
  max-height: 100vh;
  overflow-y: auto;
  transition: .6s all ease;
  font-size: 16px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(#000, .8);

  .cart {
    position: absolute;
    top: 0;
    // left: 0;
    right: 0;
  }

  &[data-popup-key="success"] {
    text-align: center;

    .popup-icon {
      width: 110px;
      height: auto;
      margin: 0 auto 20px;
    }

    .form__subtitle {
      font-size: 22px;

      @include media(md) {
        font-size: 16px;
      }

    }

  }

  .cart__content {

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: px-to-rem(35, 16);

      @include media(lg) {
        flex-wrap: wrap;
        position: relative;
        border-bottom: 1px solid #EEEEEE;
        padding-bottom: px-to-rem(35, 16);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-remove {
        cursor: pointer;
        width: 30px;
        height: 30px;
        object-fit: contain;
        object-position: center;

        @include media(lg) {
          position: absolute;
          top: 0;
          right: 0;
        }

      }

      &-wrap-img {
        padding: 0 px-to-rem(30, 16);
        margin: 0 px-to-rem(30, 16);
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        width: 100%;
        max-width: 200px;
        flex-shrink: 0;
        min-height: 145px;

        @include media(lg) {
          flex-wrap: wrap;
          position: relative;
          border: none;
          width: 100%;
          margin: 0 0 px-to-rem(30, 16);
          padding: 0;
          max-width: 300px;
        }

        @include media(sm) {
          max-width: 230px;
        }

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }

      &-name {
        letter-spacing: .12em;

        @include media(lg) {
          width: 100%;
          font-size: 20px;
          margin-bottom: px-to-rem(30, 16);
        }
      }

      &-counter {
        padding: 0 px-to-rem(30, 16);
        margin: 0 px-to-rem(30, 16);
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 170px;
        flex-shrink: 0;
        min-height: 145px;

        @include media(lg) {
          width: 50%;
          border: none;
          min-height: auto;
          margin: 0;
          padding: 0;
        }

        &-btn {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: $accent;

          img {
            width: 12px;
            height: auto;
          }

        }

        &-result {
          margin: 0 12px;
          font-size: 24px;
          @include Geometria-B;
        }

        .cart__content-item-counter-more {

          img {
            transform: rotate(180deg);
          }

        }

      }

      &-result {
        display: flex;
        letter-spacing: .12em;
        justify-content: center;
        @include Geometria-B;

        @include media(lg) {
          width: 50%;
          justify-content: flex-end;
        }

        .price {
          font-size: 24px;
          margin-right: 6px;
        }

        .type {
          margin-bottom: 4px;
          font-size: 14px;
        }

      }

    }

    &-result {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: px-to-rem(45, 16) 0 px-to-rem(20, 16);
      @include Geometria-B;
      font-size: px-to-rem(36, 16);
      margin: 0 auto px-to-rem(50, 16);

      .cart__content-price {
        margin: 0 px-to-rem(8, 16) 0 px-to-rem(15, 16);
      }

      .cart__content-price-type {
        font-size: 16px;
        margin-bottom: 12px;
      }

    }

  }

  &__content {
    overflow: hidden;
  }

  .pay {

    &__content {

      > p {
        display: block;
      }

      > * {
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        padding-left: px-to-rem(36, 16);
        list-style: initial;

        li {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }

    &__title {
      display: block;
      font-size: 26px;
      margin-bottom: 16px;
      letter-spacing: .12em;

      @include media(lg) {
        font-size: 22px;
      }

      @include media(md) {
        font-size: 20px;
      }

    }

  }

  &_right {

    .popup__wrap-content {
      display: flex;
      align-items: flex-end;
    }

    .popup__content {
      margin: auto 0 0 auto;
      min-height: 100vh;
      max-width: 900px;
      padding: px-to-rem(50, 16);
      width: 100%;

      @include media(lg) {
        padding: 40px;
      }

      @include media(md) {
        padding: 30px;
      }

      @include media(sm) {
        padding: 20px 16px;
      }

    }

    .contacts-list__item {

      @include media(xl) {
        padding: 0 10px;
      }

      @include media(md) {
        max-width: 50% !important;
      }

      @include media(sm) {
        max-width: 100% !important;
        padding: 0;
      }

    }

    .contacts-list {

      @include media(xl) {
        margin-left: 0;
        margin-right: 0;
      }

    }

  }


  &[data-popup-key="products"] {

    .popup__content {

      @include media(md) {
        padding-top: px-to-rem(50, 14) !important;
      }

      @include media(sm) {
        padding-top: px-to-rem(70, 14) !important;
      }

    }

  }


  .tab-content__inner {
    display: flex;

    @include media(md) {
      flex-direction: column-reverse;
    }

    .left {
      width: 100%;
      padding-right: px-to-rem(45, 16);

      @include media(md) {
        padding: 0;
      }

      &__top {

        @include media(md) {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          margin-bottom: px-to-rem(30, 14);
        }

      }

    }

    .right {
      width: 100%;
      max-width: 60%;
      flex-shrink: 0;

      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }

      @include media(lg) {
        max-width: 50%;
      }

      @include media(md) {
        max-width: 300px;
        margin: 0 auto;
      }
    }

    .products__list-item-price {
      margin-top: px-to-rem(30, 16);
    }

    .products__list-item-price_second {
      font-size: 24px;
    }

    .products__list-item-price_second_currency {
      font-size: 16px;
      font-weight: 600;
      vertical-align: 5px !important;
    }   

    .products__list-item-cart {
      margin: px-to-rem(30, 16) 0;

      @include media(md) {
        margin: 0;
      }

    }

  }

  .form_questions {
    margin: px-to-rem(50, 16) auto;
    max-width: 520px;
  }

  .contacts-list {
    margin-left: -20px;
    margin-right: -20px;
  }

  .contacts-list__item {
    max-width: calc(100% / 3);
    padding: 0 20px;
  }

  &__other {
    margin-top: px-to-rem(30, 16);

    .products__list-item_small-img {

      .products__list-item-img {
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .products__list {
      margin-left: -10px;
      justify-content: flex-start;
      margin-right: -10px;
    }

    .products__list-item-bottom {
      opacity: 1;
      
      .products__list-item-price {
        &_second {
          font-size: 24px;   
        }
        &_second_currency {
          font-size: 16px;
          font-weight: 600;
          vertical-align: 5px !important;
        }
      }
    }

    .products__list-item {
      display: block !important;
      max-width: 50%;
      padding: 0 10px;
      margin-bottom: 30px;

      &-content {
        padding: 18px 30px;
      }

      @include media(md) {
        max-width: 100%;
      }

    }

    &-title {
      display: block;
      text-align: center;
      margin-bottom: 24px;
      letter-spacing: .12em;
      font-size: px-to-rem(36, 16);

      @include media(md) {
        font-size: 28px;
        margin-bottom: 20px;
      }

    }

  }

  .product__info {

    &-item {
      display: block;
      font-size: 14px;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        display: block;
      }

      &-label {
        margin-bottom: 6px;
      }

      &-value {
        color: #999999;
      }

    }

  }

  &__tabs-btns {
    flex-wrap: wrap;
    margin-bottom: 25px;

    .tab-btn {
      color: $accent;
      border-radius: 20px;
      font-size: 14px;
      padding: 5px 18px;
      margin: 0 0 8px;
      border: 2px solid transparent;
      letter-spacing: .12em;

      &_cur {
        border-color: $accent;
      }
    }

  }

  &_visible {
    opacity: 1;
    visibility: visible;

    .popup__content {
      transform: translate(0);
      opacity: 1;
    }
  }

  &__wrap-content {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;

    @media (max-width: 576px) and (orientation: portrait) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .titles {
    margin-bottom: px-to-rem(30, 16);
  }

  &__content {
    margin: 10vh auto;
    width: calc(100% - 30px);
    max-width: 600px;
    position: relative;
    transition: .8s all ease;
    transform: translate(0, 40px);
    opacity: 0;
    padding: 20px 40px;
    background-color: #fff;

    @include media (md) {
      max-width: 400px;
      margin: 6vh auto;
      padding: 20px;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-color: $accent;
    cursor: pointer;
    border-radius: 100%;
    z-index: 2;

    &.general-modal {
      right: 0px;
      left: 25px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      top: 11px;
      left: 5px;
      height: 2px;
      width: 16px;
      transition: .4s all ease;
      transform-origin: 50% 50%;
      background-color: #fff;
    }

    &:before {
      transform: rotate(-45deg)
    }

    &:after {
      transform: rotate(45deg)
    }

    &:hover {
      background-color: $default-text;
    }

    @include media (sm) {
      top: 15px;
      right: 15px;
    }
  }


}
