.contacts {
  padding: px-to-rem(115, 16) 0 0;

  &__inner {
    @media (max-width: 767px) {
      .contacts-list {
        display: flex;
      }
    }
  }

  &__map {
    margin-top: px-to-rem(90, 16);
    padding-left: px-to-em(110, 16);

    @media (max-width: 1500px) {
      padding-left: px-to-em(90, 16);
    }

    @include media(xl) {
      padding-left: 0;
    }


    @include media(sm) {
      margin-top: 0;
    }

  }

  #map {
    width: 100%;
    height: 600px;

    @include media(xl) {
      height: 450px;
    }

    @include media(sm) {
      height: 350px;
    }

  }

}



