.contacts.sec#contacts
    .wrapper
        .contacts__inner

            .sec__titles.sec__titles_black
                span.sec__title Где купить?


            ul.contacts-list
                li.contacts-list__item
                    img.contacts-list__item-icon(src="img/address.png" alt="")
                    span.contacts-list__item-title Наш адрес
                    p.contacts-list__item-text г. Минск, <br> ул. Машиностроителей 29А, пом. 33

                li.contacts-list__item
                    img.contacts-list__item-icon(src="img/msg.png" alt="")
                    span.contacts-list__item-title Телефоны / почта
                    span.contacts-list__item-text +375 (29) 388-66-96
                    span.contacts-list__item-text +375 (17) 388-66-30
                    a.contacts-list__item-text(href="mailto:roznica@elporta.by") roznica@elporta.by

                li.contacts-list__item
                    img.contacts-list__item-icon(src="img/weather.png" alt="")
                    span.contacts-list__item-title Режим работы
                    span.contacts-list__item-text
                        small пн.-сб.:
                        span 09:00 - 17:00
                    span.contacts-list__item-text
                        small вс.:
                        span выходной


    .contacts__map
        #map
