.after {

  &__inner {
    display: flex;
    align-items: center;

    @include media(md) {
      display: block;
    }

    & > * {
      width: 100%;
      max-width: 50%;

      @include media(md) {
        max-width: 100%;
      }
    }
  }

  .sec__title {
    margin-bottom: px-to-rem(30, 16);
    text-align: left;
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__left {
    padding-right: px-to-rem(40, 16);
    .sec__titles.sec__titles_black_mobile {
      display: none;
    }
    @media (max-width: 767px) {
      .sec__title {
        font-size: 36px !important;
      }
      .sec__titles.sec__titles_black_mobile {
        display: initial;
        text-align: center;
      }
    }

    &-img {
      max-width: 100%;

      @include media(md) {
        margin: 0 auto;
        display: block;
      }

    }

  }

  &__right {
    padding-bottom: px-to-rem(50, 16);
    @media (max-width: 767px) {
      .sec__title {
         display: none;
      }
    }
  }

  &__text {
    margin-bottom: px-to-rem(20, 16);
    letter-spacing: .12em;
    line-height: 1.4;

    @include media(xl) {

      br {
        display: none;
      }

    }

    strong {
      @include Geometria-B;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

