.after.sec#after
    .wrapper
        .after__inner
            
            .after__left
                .sec__titles.sec__titles_black_mobile
                    span.sec__title Дети вырастут.<br> И что?
                img.after__left-img(src="img/after.png" alt="")

            .after__right
                .sec__titles.sec__titles_black
                    span.sec__title Дети вырастут. И что?

                p.after__text Если ваш ребенок <strong>не согнет металлическую трубу, <br> не сгрызет дерево и не разорвет голыми руками<br> брезент</strong> — с домиком ничего не случится!
                p.after__text Вы ведь продавали детскую коляску?<br> И домик прекрасно продадите!
                p.after__text Самые ценные дома — это дома в которых <br> уже обжились!
