.modal-btn {
  cursor: pointer;
}

.products {
  padding-bottom: px-to-rem(75, 16);

  &__inner {

  }

  &__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      width: 100%;
      max-width: 25%;
      display: none;

      @include media(xl) {
        max-width: calc(100% / 3);
      }

      @include media(md) {
        max-width: 50%;
      }

      @include media(sm) {
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
      }

      &-content {
        padding: 24px 20px 26px;
        transition: .5s all ease;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        &:after {
          content: '';
          display: block;
          height: 100px;
          width: 100%;
          background-color: white;
          position: absolute;
          top: 100%;
          left: 0;
          opacity: 0;
          transition: .5s all ease;
        }

        &:hover {
          box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
          background-color: #fff;

          &:after {
            opacity: 1;
          }

          .products__list-item-title {
            @include Geometria-B;
          }

          .products__list-item-bottom {
            opacity: 1;
          }
        }
      }

      &-title {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .12em;
        margin-bottom: 12px;
        transition: .5s all ease;

        @include media(xl) {
          @include Geometria-B;
        }
      }

      &-img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 20px;
      }

      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: .5s all ease;
        margin-top: auto;

        @include media(xl) {
          opacity: 1;
        }

      }

      &-price {
        padding-top: 18px;
        position: relative;
        letter-spacing: .12em;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: $title;
          height: 2px;
          width: 55px;
        }

        &_first {
          font-size: 12px;
          margin-right: 8px;
        }

        &_second {
          @include Geometria-B;
        }
      }

      &-cart {
        border-radius: 100%;
        background-color: $accent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        @include trs;

        &:hover {
          background-color: darken($accent, 10%);
        }

        &-icon {
          width: 18px;
          height: auto;
        }
      }
    }
  }

  &__btn {
    display: block;
    margin: 20px auto 0;
  }

}
