.products.sec#products
    .wrapper
        .products__inner
            .sec__titles.sec__titles_black
                span.sec__title Каркасы домиков

            ul.products__list
                li.products__list-item(data-id="1")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Снежок
                        img.products__list-item-img(src="img/prod_1.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="2")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Ромашка
                        img.products__list-item-img(src="img/prod_2.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="3")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Облако
                        img.products__list-item-img(src="img/prod_3.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="4")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Чайка
                        img.products__list-item-img(src="img/prod_4.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="5")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Апельсин
                        img.products__list-item-img(src="img/prod_5.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="6")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Черника
                        img.products__list-item-img(src="img/prod_6.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")

                li.products__list-item(data-id="7")
                    .products__list-item-content.modal-btn(data-popup-key="products")
                        span.products__list-item-title Бирюза
                        img.products__list-item-img(src="img/prod_7.png" alt="")
                        .products__list-item-bottom
                            .products__list-item-price
                                span.products__list-item-price_first от
                                span.products__list-item-price_second 220 руб

                            button.products__list-item-cart
                                img.products__list-item-cart-icon(src="img/cart.png" alt="")


            button.products__btn.btn(
                    data-text-first="Посмотреть все"
                    data-text-second="Свернуть"
                ) Посмотреть все
