$xs: 349px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1440px;


@mixin media ($size) {
  @if ($size == xl) {
    @media (max-width: $xl) { @content; }
  }

  @else if ($size == lg) {
    @media (max-width: $lg) { @content; }
  }

  @else if ($size == md) {
    @media (max-width: $md) { @content; }
  }

  @else if ($size == sm) {
    @media (max-width: $sm) { @content; }
  }

  @else if ($size == xs) {
    @media (max-width: $xs) { @content; }
  }

  @else {
    @media (max-width: $size) { @content; }
  }
}
