a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button,
textarea,
input {
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  resize: none;
  border-radius: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

[disabled] {
  cursor: not-allowed;
}

input,
textarea:focus:required:invalid {
  border: none;
}

input,
textarea:required:valid,
input,
textarea:required:invalid {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

mark {
  background-color: transparent;
}

::-moz-focus-inner {
  border: 0;
}

button {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

textarea,
input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder,
button:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder,
button::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

textarea::placeholder,
input::placeholder,
button::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal, .swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-container-wp8-vertical, .swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

@font-face {
  font-family: "GothamPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria/Geometria.woff") format("woff"), url("../fonts/Geometria/Geometria.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria-B";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Bold/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold/Geometria-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Geometria-L";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Light/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light/Geometria-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas-B";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/BebasNeue-Bold/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue-Bold/BebasNeue-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Futura";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/AFuturaRoundDemi/AFuturaRoundDemi.woff") format("woff"), url("../fonts/AFuturaRoundDemi/AFuturaRoundDemi.woff2") format("woff2");
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 576px) {
  .wrapper {
    width: 570px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 990px;
  }
}

@media (min-width: 1439px) {
  .wrapper {
    width: 1260px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

html.page-fixed {
  overflow: hidden;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  overflow-x: hidden;
  -webkit-transition: .4s opacity ease;
  transition: .4s opacity ease;
  font-family: Geometria, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1170px) {
  body {
    padding-top: 95px;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 12px;
    padding-top: 77px;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }
}

body.page-fixed {
  overflow-y: scroll;
}

body.visible {
  opacity: 1;
}

img.lazy {
  -webkit-transition: .6s all ease;
  transition: .6s all ease;
  opacity: 0;
}

img.lazy.loaded, img.lazy.loading {
  opacity: 1;
}

.el-disabled {
  pointer-events: none;
}

.image-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  width: 90px;
  height: auto;
}

.image-load {
  opacity: 1;
}

.image-load + .image-preloader {
  opacity: 0;
}

::-moz-selection {
  background-color: #FF7C3B;
  color: #fff;
}

::selection {
  background-color: #FF7C3B;
  color: #fff;
}

.sec {
  padding-top: 3.75rem;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media (max-width: 767px) {
  .sec {
    padding-top: 30px;
  }
}

.sec_dark {
  background-color: #142A3B !important;
}

.sec_yellow {
  background-color: #FCC231 !important;
}

.sec__titles {
  text-align: center;
}

.sec__titles_black {
  color: #333333;
}

.sec__titles_white {
  color: #fff;
}

.sec__titles > * {
  display: block;
}

.sec__title {
  font-size: 2.25rem;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 20px;
  letter-spacing: .13em;
}

@media (max-width: 767px) {
  .sec__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .sec__title {
    font-size: 24px;
  }
}

.sec__subtitle {
  font-size: 1.5rem;
  letter-spacing: .13em;
}

@media (max-width: 767px) {
  .sec__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .sec__subtitle {
    font-size: 16px;
  }
  .sec__subtitle br {
    display: none;
  }
}

html.ie {
  height: 100%;
}

html.ie body {
  height: 100%;
  opacity: 1;
  -webkit-transition: 0s ease all;
  transition: 0s ease all;
}

html.ie .screen-ie {
  display: block;
}

.btn {
  background-color: #FF7C3B;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: #fff;
  font-size: 14px;
  letter-spacing: .15em;
  padding: 1.5em 2.625em;
  display: inline-block;
}

.btn:hover {
  background-color: #ff5a08;
}

@media (max-width: 575px) {
  .btn {
    font-size: 12px;
  }
}

.btn_dark {
  background-color: #285C80;
}

.btn_dark:hover {
  background-color: #1c4059;
}

.footer {
  padding: 2.8125rem 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 991px) {
  .footer__inner {
    display: block;
  }
}

.footer__copyright {
  width: 25%;
  letter-spacing: .12em;
}

@media (max-width: 1440px) {
  .footer__copyright {
    width: 30%;
  }
}

@media (max-width: 991px) {
  .footer__copyright {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 16px;
  }
}

.footer__nav {
  width: 75%;
  padding-left: 10%;
  padding-top: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 1440px) {
  .footer__nav {
    padding-left: 5%;
  }
}

@media (max-width: 991px) {
  .footer__nav {
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.block-tabs .tab-content {
  display: none;
}

.block-tabs .tab-content_cur {
  display: block;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.125rem;
  text-align: center;
}

@media (max-width: 575px) {
  .contacts-list {
    margin-top: 20px;
  }
}

.contacts-list__item {
  width: 100%;
  max-width: 26%;
  padding: 0 2.5rem;
  letter-spacing: .12em;
}

@media (max-width: 991px) {
  .contacts-list__item {
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .contacts-list__item {
    max-width: 100%;
    padding: 0;
  }
}

.contacts-list__item-icon {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.contacts-list__item-title {
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-bottom: 1.25rem;
  font-size: 18px;
  display: block;
}

.contacts-list__item-text {
  font-size: 14px;
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.contacts-list__item-text:last-child {
  margin-bottom: 0;
}

.contacts-list__item a {
  color: #FF7C3B;
  text-decoration: underline;
}

.popup {
  max-height: 100vh;
  overflow-y: auto;
  -webkit-transition: .6s all ease;
  transition: .6s all ease;
  font-size: 16px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup .cart {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
}

.popup[data-popup-key="success"] {
  text-align: center;
}

.popup[data-popup-key="success"] .popup-icon {
  width: 110px;
  height: auto;
  margin: 0 auto 20px;
}

.popup[data-popup-key="success"] .form__subtitle {
  font-size: 22px;
}

@media (max-width: 767px) {
  .popup[data-popup-key="success"] .form__subtitle {
    font-size: 16px;
  }
}

.popup .cart__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.1875rem;
}

@media (max-width: 991px) {
  .popup .cart__content-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 2.1875rem;
  }
}

.popup .cart__content-item:last-child {
  margin-bottom: 0;
}

.popup .cart__content-item-remove {
  cursor: pointer;
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 991px) {
  .popup .cart__content-item-remove {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.popup .cart__content-item-wrap-img {
  padding: 0 1.875rem;
  margin: 0 1.875rem;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  width: 100%;
  max-width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 145px;
}

@media (max-width: 991px) {
  .popup .cart__content-item-wrap-img {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    border: none;
    width: 100%;
    margin: 0 0 1.875rem;
    padding: 0;
    max-width: 300px;
  }
}

@media (max-width: 575px) {
  .popup .cart__content-item-wrap-img {
    max-width: 230px;
  }
}

.popup .cart__content-item-wrap-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.popup .cart__content-item-name {
  letter-spacing: .12em;
}

@media (max-width: 991px) {
  .popup .cart__content-item-name {
    width: 100%;
    font-size: 20px;
    margin-bottom: 1.875rem;
  }
}

.popup .cart__content-item-counter {
  padding: 0 1.875rem;
  margin: 0 1.875rem;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 170px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 145px;
}

@media (max-width: 991px) {
  .popup .cart__content-item-counter {
    width: 50%;
    border: none;
    min-height: auto;
    margin: 0;
    padding: 0;
  }
}

.popup .cart__content-item-counter-btn {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #FF7C3B;
}

.popup .cart__content-item-counter-btn img {
  width: 12px;
  height: auto;
}

.popup .cart__content-item-counter-result {
  margin: 0 12px;
  font-size: 24px;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.popup .cart__content-item-counter .cart__content-item-counter-more img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup .cart__content-item-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .12em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (max-width: 991px) {
  .popup .cart__content-item-result {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.popup .cart__content-item-result .price {
  font-size: 24px;
  margin-right: 6px;
}

.popup .cart__content-item-result .type {
  margin-bottom: 4px;
  font-size: 14px;
}

.popup .cart__content-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.8125rem 0 1.25rem;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.25rem;
  margin: 0 auto 3.125rem;
}

.popup .cart__content-result .cart__content-price {
  margin: 0 0.5rem 0 0.9375rem;
}

.popup .cart__content-result .cart__content-price-type {
  font-size: 16px;
  margin-bottom: 12px;
}

.popup__content {
  overflow: hidden;
}

.popup .pay__content > p {
  display: block;
}

.popup .pay__content > * {
  margin-bottom: 14px;
}

.popup .pay__content > *:last-child {
  margin-bottom: 0;
}

.popup .pay__content ul {
  padding-left: 2.25rem;
  list-style: initial;
}

.popup .pay__content ul li {
  margin-bottom: 10px;
}

.popup .pay__content ul li:last-child {
  margin-bottom: 0;
}

.popup .pay__title {
  display: block;
  font-size: 26px;
  margin-bottom: 16px;
  letter-spacing: .12em;
}

@media (max-width: 991px) {
  .popup .pay__title {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .popup .pay__title {
    font-size: 20px;
  }
}

.popup_right .popup__wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.popup_right .popup__content {
  margin: auto 0 0 auto;
  min-height: 100vh;
  max-width: 900px;
  padding: 3.125rem;
  width: 100%;
}

@media (max-width: 991px) {
  .popup_right .popup__content {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .popup_right .popup__content {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .popup_right .popup__content {
    padding: 20px 16px;
  }
}

@media (max-width: 1440px) {
  .popup_right .contacts-list__item {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .popup_right .contacts-list__item {
    max-width: 50% !important;
  }
}

@media (max-width: 575px) {
  .popup_right .contacts-list__item {
    max-width: 100% !important;
    padding: 0;
  }
}

@media (max-width: 1440px) {
  .popup_right .contacts-list {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .popup[data-popup-key="products"] .popup__content {
    padding-top: 3.57143rem !important;
  }
}

@media (max-width: 575px) {
  .popup[data-popup-key="products"] .popup__content {
    padding-top: 5rem !important;
  }
}

.popup .tab-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .popup .tab-content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.popup .tab-content__inner .left {
  width: 100%;
  padding-right: 2.8125rem;
}

@media (max-width: 767px) {
  .popup .tab-content__inner .left {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .popup .tab-content__inner .left__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2.14286rem;
  }
}

.popup .tab-content__inner .right {
  width: 100%;
  max-width: 60%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.popup .tab-content__inner .right img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .popup .tab-content__inner .right {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .popup .tab-content__inner .right {
    max-width: 300px;
    margin: 0 auto;
  }
}

.popup .tab-content__inner .products__list-item-price {
  margin-top: 1.875rem;
}

.popup .tab-content__inner .products__list-item-price_second {
  font-size: 24px;
}

.popup .tab-content__inner .products__list-item-cart {
  margin: 1.875rem 0;
}

@media (max-width: 767px) {
  .popup .tab-content__inner .products__list-item-cart {
    margin: 0;
  }
}

.popup .form_questions {
  margin: 3.125rem auto;
  max-width: 520px;
}

.popup .contacts-list {
  margin-left: -20px;
  margin-right: -20px;
}

.popup .contacts-list__item {
  max-width: calc(100% / 3);
  padding: 0 20px;
}

.popup__other {
  margin-top: 3.125rem;
}

.popup__other .products__list-item_small-img .products__list-item-img {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.popup__other .products__list {
  margin-left: -10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: -10px;
}

.popup__other .products__list-item-bottom {
  opacity: 1;
}

.popup__other .products__list-item {
  display: block !important;
  max-width: 50%;
  padding: 0 10px;
  margin-bottom: 30px;
}

.popup__other .products__list-item-content {
  padding: 18px 30px;
}

@media (max-width: 767px) {
  .popup__other .products__list-item {
    max-width: 100%;
  }
}

.popup__other-title {
  display: block;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: .12em;
  font-size: 2.25rem;
}

@media (max-width: 767px) {
  .popup__other-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.popup .product__info-item {
  display: block;
  font-size: 14px;
  margin-bottom: 18px;
}

.popup .product__info-item:last-child {
  margin-bottom: 0;
}

.popup .product__info-item > * {
  display: block;
}

.popup .product__info-item-label {
  margin-bottom: 6px;
}

.popup .product__info-item-value {
  color: #999999;
}

.popup__tabs-btns {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.popup__tabs-btns .tab-btn {
  color: #FF7C3B;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 18px;
  margin: 0 0 8px;
  border: 2px solid transparent;
  letter-spacing: .12em;
}

.popup__tabs-btns .tab-btn_cur {
  border-color: #FF7C3B;
}

.popup_visible {
  opacity: 1;
  visibility: visible;
}

.popup_visible .popup__content {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.popup__wrap-content {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

@media (max-width: 576px) and (orientation: portrait) {
  .popup__wrap-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.popup .titles {
  margin-bottom: 1.875rem;
}

.popup__content {
  margin: 10vh auto;
  width: calc(100% - 30px);
  max-width: 600px;
  position: relative;
  -webkit-transition: .8s all ease;
  transition: .8s all ease;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
  opacity: 0;
  padding: 20px 40px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .popup__content {
    max-width: 400px;
    margin: 6vh auto;
    padding: 20px;
  }
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 25px;
  height: 25px;
  background-color: #FF7C3B;
  cursor: pointer;
  border-radius: 100%;
  z-index: 2;
}

.popup__close:before, .popup__close:after {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;
  height: 2px;
  width: 16px;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #fff;
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 575px) {
  .popup__close {
    top: 15px;
    right: 15px;
  }
}

.products__list-item-cart.disabled {
  background-color: #64C733 !important;
}

.disabled {
  pointer-events: none;
}

.form__title {
  font-size: 2.25rem;
  display: block;
  margin: 0 auto 10px;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: .13em;
  text-align: center;
  line-height: 1;
}

@media (max-width: 767px) {
  .form__title {
    font-size: 28px;
    padding: 0 16px;
  }
}

.form__subtitle {
  font-size: 13px;
  display: block;
  margin: 0 auto;
  letter-spacing: .13em;
  text-align: center;
}

@media (max-width: 767px) {
  .form__subtitle {
    font-size: 12px;
  }
  .form__subtitle br {
    display: none;
  }
}

.form__label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.form__label span {
  color: red;
}

.form-cart {
  padding-top: 2.5rem;
  position: relative;
}

.form-cart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  min-width: 900px;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, transparent), color-stop(50%, #fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#FF7C3B), color-stop(#FF7C3B), color-stop(#FF7C3B), to(#FF7C3B));
  background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, #FF7C3B, #FF7C3B, #FF7C3B, #FF7C3B);
  background-size: 20px 3px, 100% 3px;
}

.form-cart .form__fields {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin-bottom: 2.1875rem;
}

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2.5rem;
  cursor: pointer;
}

.form__radio:last-child {
  margin-right: 0;
}

.form__radio input {
  display: none;
}

.form__radio input:checked + .form__radio-box:after {
  opacity: 1;
}

.form__radio-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  border-radius: 100%;
  position: relative;
  background-color: #F3F3F3;
  border: 1px solid #E6E6E6;
}

.form__radio-box:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: inherit;
  opacity: 0;
  background-color: #000;
}

.form__radio-text {
  font-size: 14px;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__fields .form__wrap-field {
  width: 48%;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__fields .form__wrap-field span {
  margin: 0 10px;
}

.form__wrap-field {
  margin-bottom: 20px;
  display: block;
}

.form__wrap-field:last-child {
  margin-bottom: 0;
}

.form__field {
  height: 45px;
  padding: 12px 16px;
  color: #000;
  background-color: #F4F4F4;
  width: 100%;
  display: block;
}

.form__field_textarea {
  vertical-align: middle;
  min-height: 125px;
}

.form__field::-webkit-input-placeholder {
  color: #999999;
}

.form__field:-ms-input-placeholder {
  color: #999999;
}

.form__field::-ms-input-placeholder {
  color: #999999;
}

.form__field::placeholder {
  color: #999999;
}

.form__btn {
  display: block;
  margin: 30px auto 10px;
}

.d-none {
  display: none !important;
}

.left__top.products__list-item {
  display: block !important;
  max-width: none !important;
}

.banner {
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
  overflow: hidden;
}

@media (max-width: 991px) {
  .banner {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .banner {
    padding-bottom: 50px;
  }
}

.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 575px) {
  .banner__inner {
    display: block;
  }
}

.banner__wrap-videos {
  position: relative;
  width: 780px;
  height: 780px;
  margin: -100px 0 0 -220px;
}

@media (max-width: 991px) {
  .banner__wrap-videos {
    width: 600px;
    height: 600px;
    margin: -50px 0 0 -300px;
  }
}

@media (max-width: 575px) {
  .banner__wrap-videos {
    width: 120%;
    height: auto;
    margin: -20px 0 0 -10%;
  }
  .banner__wrap-videos:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

@media (max-width: 1440px) {
  .banner__video {
    width: 80%;
    height: 80%;
  }
}

.banner__video.active {
  opacity: 1;
}

.banner__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: 0;
}

@media (max-width: 575px) {
  .banner__btn {
    position: static;
    display: block;
    margin: 0 auto;
  }
}

.modal-btn {
  cursor: pointer;
}

.products {
  padding-bottom: 4.6875rem;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__list-item {
  width: 100%;
  max-width: 25%;
  display: none;
}

@media (max-width: 1440px) {
  .products__list-item {
    max-width: calc(100% / 3);
  }
}

@media (max-width: 767px) {
  .products__list-item {
    max-width: 50%;
  }
}

@media (max-width: 575px) {
  .products__list-item {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

.products__list-item-content {
  padding: 24px 20px 10px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__list-item-content:hover {
  -webkit-box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
          box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
  background-color: #fff;
}

.products__list-item-content:hover .products__list-item-title {
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.products__list-item-content:hover .products__list-item-bottom {
  opacity: 1;
}

.products__list-item-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .12em;
  margin-bottom: 12px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

@media (max-width: 1440px) {
  .products__list-item-title {
    font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

.products__list-item-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.products__list-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  margin-top: auto;
}

@media (max-width: 1440px) {
  .products__list-item-bottom {
    opacity: 1;
  }
}

.products__list-item-price {
  padding-top: 18px;
  position: relative;
  letter-spacing: .12em;
}

.products__list-item-price:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333;
  height: 2px;
  width: 55px;
}

.products__list-item-price_first {
  font-size: 12px;
  margin-right: 8px;
}

.products__list-item-price_second {
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.products__list-item-cart {
  border-radius: 100%;
  background-color: #FF7C3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.products__list-item-cart:hover {
  background-color: #ff5a08;
}

.products__list-item-cart-icon {
  width: 18px;
  height: auto;
}

.products__btn {
  display: block;
  margin: 20px auto 0;
}

.case {
  background: -webkit-gradient(linear, left bottom, left top, from(#47bec4), to(#7ee1f3));
  background: linear-gradient(0deg, #47bec4 0%, #7ee1f3 100%);
  min-height: 660px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .case {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .case {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .case {
    min-height: auto;
    padding-bottom: 40px;
  }
}

.case__tabs-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .case__tabs-btns {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
}

.case__tabs-btns .tab-btn {
  margin-right: 35px;
  letter-spacing: .12em;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  background-color: #96AD99;
  color: #fff;
  cursor: pointer;
  padding: 10px 16px;
}

@media (max-width: 575px) {
  .case__tabs-btns .tab-btn {
    margin: 0 auto 10px !important;
    display: block;
  }
}

.case__tabs-btns .tab-btn_cur {
  background-color: #FF7C3B;
}

.case__tabs-btns .tab-btn:last-child {
  margin-right: 0;
}

.case__tabs-contents .tab-content {
  position: relative;
}

.case__tabs-contents .tab-content[data-tab-key="kit"] .products__list {
  position: relative;
  z-index: 1;
}

.case__tabs-contents .tab-content[data-tab-key="kit"] .products__list-item {
  max-width: 36%;
}

.case__tabs-contents .tab-content[data-tab-key="kit"] .products__list-item .products__list-item-img {
  max-width: 75%;
}

.case__tabs-contents .tab-content-light {
  position: absolute;
  top: 20%;
  right: 0;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

@media (max-width: 1440px) {
  .case__tabs-contents .tab-content-light {
    top: -35%;
    right: 6%;
  }
}

@media (max-width: 991px) {
  .case__tabs-contents .tab-content-light {
    width: 140px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .case__tabs-contents .tab-content-light {
    width: 100px;
    top: -25%;
  }
}

@media (max-width: 575px) {
  .case__tabs-contents .tab-content-light {
    top: -16%;
    right: 12%;
  }
}

.case .products__list-item {
  display: block;
  max-width: calc(100% / 3);
}

@media (max-width: 767px) {
  .case .products__list-item {
    max-width: 50% !important;
  }
}

@media (max-width: 575px) {
  .case .products__list-item {
    max-width: 420px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.case .products__list-item_small-img .products__list-item-img {
  margin-top: 2.5rem;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.case .label {
  position: relative;
  cursor: pointer;
}

.case .label:hover .label__content {
  display: block;
}

.case .label__content {
  display: none;
  position: absolute;
  bottom: 100%;
  left: calc(50% + 4px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 17, 34, 0.13);
          box-shadow: 0 0 20px 0 rgba(0, 17, 34, 0.13);
  min-width: 220px;
  padding: 20px;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 575px) {
  .case .label__content {
    font-size: 12px;
    min-width: 180px;
    left: 0%;
  }
}

.case .label__content:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: 10px solid transparent;
  border-top-color: #fff;
}

@media (max-width: 575px) {
  .case .label__content:after {
    left: 64%;
  }
}

.case .label__content-list-item {
  font-family: Geometria, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.case .label__content-title {
  display: block;
  margin-bottom: 6px;
}

.case .label__icon {
  width: 36px;
  height: 36px;
  margin-left: 8px;
}

.plus {
  -webkit-box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
          box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
  position: relative;
  z-index: 1;
  padding-bottom: 3.75rem;
}

.plus__pluses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.75rem;
}

@media (max-width: 991px) {
  .plus__pluses {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plus__pluses-col {
  width: 100%;
}

.plus__pluses-col:first-child, .plus__pluses-col:last-child {
  max-width: 25%;
  position: relative;
  z-index: 1;
  padding-top: 1.25rem;
}

@media (max-width: 991px) {
  .plus__pluses-col:first-child, .plus__pluses-col:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 !important;
  }
}

.plus__pluses-col:first-child {
  text-align: right;
}

@media (max-width: 1440px) {
  .plus__pluses-col:first-child {
    padding-right: 2.5%;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col:first-child {
    text-align: left;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.plus__pluses-col:first-child .line-icon {
  left: calc(100% + 4px);
}

.plus__pluses-col:first-child .plus__pluses-col-item:nth-child(1) .line-icon {
  top: 100%;
  width: 70px;
}

.plus__pluses-col:first-child .plus__pluses-col-item:nth-child(2) .line-icon {
  top: 10%;
  width: 70px;
}

.plus__pluses-col:first-child .plus__pluses-col-item:nth-child(3) .line-icon {
  top: 8%;
  width: 55px;
}

.plus__pluses-col:first-child .plus__pluses-col-item:nth-child(4) .line-icon {
  top: 8%;
  width: 72px;
}

@media (max-width: 1440px) {
  .plus__pluses-col:last-child {
    padding-left: 2.5%;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.plus__pluses-col:last-child .line-icon {
  right: calc(100% + 4px);
}

.plus__pluses-col:last-child .plus__pluses-col-item:nth-child(1) .line-icon {
  bottom: 70%;
  width: 140px;
  right: 98.5%;
}

.plus__pluses-col:last-child .plus__pluses-col-item:nth-child(2) .line-icon {
  bottom: 40%;
  width: 115px;
}

.plus__pluses-col:last-child .plus__pluses-col-item:nth-child(3) .line-icon {
  bottom: 80%;
  width: 120px;
}

.plus__pluses-col:last-child .plus__pluses-col-item:nth-child(4) .line-icon {
  bottom: 8%;
  width: 260px;
}

@media (max-width: 1440px) {
  .plus__pluses-col:last-child .plus__pluses-col-item:nth-child(4) .line-icon {
    width: 220px;
  }
}

.plus__pluses-col:last-child .plus__pluses-col-item:nth-child(5) .line-icon {
  bottom: 70%;
  width: 70px;
}

.plus__pluses-col-wrap-img {
  max-width: 50%;
}

@media (max-width: 1440px) {
  .plus__pluses-col-wrap-img {
    max-width: 47%;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col-wrap-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .plus__pluses-col-wrap-img {
    max-width: 80%;
  }
}

.plus__pluses-col-img {
  margin-left: -2.5rem;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .plus__pluses-col-img {
    margin-left: 0;
  }
}

.plus__pluses-col-item {
  margin-bottom: 22px;
}

@media (max-width: 991px) {
  .plus__pluses-col-item {
    width: 50%;
    padding-right: 16px;
  }
  .plus__pluses-col-item br {
    display: none;
  }
}

@media (max-width: 575px) {
  .plus__pluses-col-item {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 1440px) {
  .plus__pluses-col-item {
    margin-bottom: 14px;
  }
}

.plus__pluses-col-item:last-child {
  margin-left: -20.625rem;
}

@media (max-width: 1440px) {
  .plus__pluses-col-item:last-child {
    margin-left: -13.75rem;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col-item:last-child {
    margin-left: 0;
  }
}

.plus__pluses-col-item-icon {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 0 36px;
}

@media (max-width: 1440px) {
  .plus__pluses-col-item-icon {
    width: 28px;
    height: 28px;
    margin: 0 28px;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col-item-icon {
    margin: 0 0 6px;
  }
}

.plus__pluses-col-item-text {
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.3;
  position: relative;
}

@media (max-width: 1440px) {
  .plus__pluses-col-item-text {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  .plus__pluses-col-item-text {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .plus__pluses-col-item-text {
    font-size: 16px;
  }
}

.plus__pluses-col-item-text .line-icon {
  position: absolute;
  height: auto;
}

@media (max-width: 991px) {
  .plus__pluses-col-item-text .line-icon {
    display: none;
  }
}

.plus .plus__pluses-col-img_text {
  position: absolute;
  top: 26%;
  left: 100%;
  width: 17.5rem;
  height: auto;
}

@media (max-width: 767px) {
  .plus .plus__pluses-col-img_text {
    display: none;
  }
}

.plus .tab-content[data-tab-key="details"] .plus__pluses-col.plus__pluses-col-wrap-img {
  max-width: 50%;
}

@media (max-width: 991px) {
  .plus .tab-content[data-tab-key="details"] .plus__pluses-col.plus__pluses-col-wrap-img {
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .plus .tab-content[data-tab-key="details"] .plus__pluses-col.plus__pluses-col-wrap-img {
    margin: 0 auto;
  }
  .plus .tab-content[data-tab-key="details"] .plus__pluses-col.plus__pluses-col-wrap-img img {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .plus .tab-content[data-tab-key="details"] .plus__pluses-col.plus__pluses-col-wrap-img {
    max-width: 80%;
  }
}

.slider {
  background: #EFEFEF;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.slider__inner {
  position: relative;
  margin-top: -1.25rem;
}

@media (max-width: 575px) {
  .slider__item {
    min-height: 230px;
    position: relative;
    overflow: hidden;
  }
  .slider__item:before {
    content: "";
    display: block;
    padding-top: 80%;
  }
}

.slider__item-video {
  width: 100%;
  min-width: 120%;
  margin-left: -10%;
  height: auto;
}

@media (max-width: 575px) {
  .slider__item-video {
    position: absolute;
    width: 280%;
    min-height: 100%;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: auto;
    margin-left: 0;
  }
}

.slider__item-text {
  font-size: 1.5rem;
  font-family: Geometria-L, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: block;
  margin: -70px auto 3.75rem;
  letter-spacing: .12em;
  position: relative;
  z-index: 1;
  padding: 0 1.875rem;
}

@media (max-width: 1440px) {
  .slider__item-text {
    margin: -20px auto 3.75rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .slider__item-text {
    margin: 20px auto 3.75rem;
  }
  .slider__item-text br {
    display: none;
  }
}

@media (max-width: 767px) {
  .slider__item-text {
    margin-top: -30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .slider__item-text {
    font-size: 14px;
    padding: 0;
    margin: -20px 0 20px;
  }
}

.slider__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__btn {
  position: absolute;
  top: calc(50% + 20px);
  z-index: 1;
  width: 200px;
}

@media (max-width: 991px) {
  .slider__btn {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .slider__btn {
    position: relative;
    top: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .slider__btn {
    padding: 16px 8px;
    width: 35%;
  }
}

.slider__btn.swiper-button-disabled {
  pointer-events: none;
}

.slider__btn:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) scale(0.8, 1);
          transform: translate(0, -50%) scale(0.8, 1);
  border: 29px solid transparent;
  -webkit-transition: inherit;
  transition: inherit;
}

@media (max-width: 575px) {
  .slider__btn:after {
    border-width: 23px;
  }
}

.slider__btn_prev {
  left: 30px;
}

.slider__btn_prev:after {
  border-right-color: #FF7C3B;
  right: 97%;
}

@media (max-width: 991px) {
  .slider__btn_prev:after {
    right: 96%;
  }
}

@media (max-width: 575px) {
  .slider__btn_prev:after {
    right: auto;
    left: -41px;
  }
}

.slider__btn_prev:hover:after {
  border-right-color: #ff5a08;
}

.slider__btn_next {
  right: 30px;
}

.slider__btn_next:after {
  border-left-color: #FF7C3B;
  left: 97%;
}

@media (max-width: 991px) {
  .slider__btn_next:after {
    left: 96%;
  }
}

@media (max-width: 575px) {
  .slider__btn_next:after {
    left: auto;
    right: -41px;
  }
}

.slider__btn_next:hover:after {
  border-left-color: #ff5a08;
}

.after__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .after__inner {
    display: block;
  }
}

.after__inner > * {
  width: 100%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .after__inner > * {
    max-width: 100%;
  }
}

.after .sec__title {
  margin-bottom: 1.875rem;
  text-align: left;
}

.after__left {
  padding-right: 2.5rem;
}

.after__left-img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .after__left-img {
    margin: 0 auto;
    display: block;
  }
}

.after__right {
  padding-bottom: 3.125rem;
}

.after__text {
  margin-bottom: 1.25rem;
  letter-spacing: .12em;
  line-height: 1.4;
}

@media (max-width: 1440px) {
  .after__text br {
    display: none;
  }
}

.after__text strong {
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.after__text:last-child {
  margin-bottom: 0;
}

.light {
  background-color: #80B3CD;
  padding: 0;
}

.light__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  min-height: 570px;
  padding: 2.5rem 0;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .light__inner {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .light__inner {
    min-height: 440px;
  }
}

@media (max-width: 575px) {
  .light__inner {
    padding: 0;
    min-height: 600px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.light__inner > * {
  width: 100%;
  max-width: 50%;
}

@media (max-width: 767px) {
  .light__inner > * {
    max-width: 100%;
  }
}

.light__inner .sec__titles {
  text-align: left;
  color: #fff;
}

@media (max-width: 1440px) {
  .light .light__img img {
    max-width: 70% !important;
  }
}

@media (max-width: 1440px) {
  .light__left {
    padding-right: 2.5rem;
  }
}

@media (max-width: 575px) {
  .light__left {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .light__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
    margin-top: 40px;
    min-height: 255px;
    position: relative;
  }
}

.light__left > * {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 50%;
  max-width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .light__left > * {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 575px) {
  .light__left > * {
    width: 300px;
    max-width: 300px;
  }
}

.light__left > *.active {
  opacity: 1;
}

.light__left img {
  margin-left: 6.25rem;
}

@media (max-width: 1440px) {
  .light__left img {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    display: block;
  }
}

@media (max-width: 767px) {
  .light__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin-top: 20px;
  }
  .light__right .sec__title {
    text-align: center;
  }
}

.light__right-text {
  margin-bottom: 2.25rem;
}

.light .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.light .swiper-pagination-bullet {
  width: 16px;
  margin: 0 12px;
  height: 16px;
  background-color: #293035;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
}

.light .swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #FF7C3B;
  width: 6px;
  height: 6px;
  opacity: 0;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.light .swiper-pagination-bullet-active:after {
  opacity: 1;
}

.dealers {
  background-color: #FF7C3B;
  padding-bottom: 4.0625rem;
}

.dealers__inner {
  position: relative;
}

.dealers__decor {
  position: absolute;
  bottom: -4.0625rem;
  left: 0;
}

@media (max-width: 991px) {
  .dealers__decor {
    display: none;
  }
}

.dealers .sec__titles {
  color: #fff;
}

.dealers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5.625rem 0 3.4375rem;
}

@media (max-width: 575px) {
  .dealers__list {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

.dealers__list-item {
  margin-right: 5.625rem;
}

@media (max-width: 575px) {
  .dealers__list-item {
    width: 100%;
    max-width: 50%;
    margin-bottom: 40px;
    margin-right: 0;
  }
}

.dealers__list-item:last-child {
  margin-right: 0;
}

.dealers__list-item-icon {
  margin: 0 auto 8px;
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  -o-object-position: center;
     object-position: center;
}

.dealers__list-item-text {
  color: #fff;
  display: block;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: .12em;
}

.dealers__btn {
  display: block;
  margin: 0 auto;
}

.contacts {
  padding: 7.1875rem 0 0;
}

.contacts__map {
  margin-top: 5.625rem;
  padding-left: 6.875em;
}

@media (max-width: 1500px) {
  .contacts__map {
    padding-left: 5.625em;
  }
}

@media (max-width: 1440px) {
  .contacts__map {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .contacts__map {
    margin-top: 0;
  }
}

.contacts #map {
  width: 100%;
  height: 600px;
}

@media (max-width: 1440px) {
  .contacts #map {
    height: 450px;
  }
}

@media (max-width: 575px) {
  .contacts #map {
    height: 350px;
  }
}
/*# sourceMappingURL=bundle.css.map */