@media (min-width: 768px) {
  body {
    opacity: 0;
  }
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF7C3B;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  z-index: 5;
}

@media (max-width: 1170px) {
  .cart {
    top: auto;
    bottom: 0;
  }
}

.cart:hover {
  background-color: #ff5a08;
}

.cart__icon {
  width: 23px;
  height: auto;
}

.cart__count {
  color: #fff;
  margin-left: 8px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 14px;
  width: 8.125em;
  background-color: #FF7C3B;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

@media (max-width: 1500px) {
  .navbar {
    width: 7.5em;
    font-size: 11px;
  }
}

@media (max-width: 1170px) {
  .navbar {
    width: 100%;
    height: calc(100% - 90px);
    top: auto;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: calc(100% - 70px);
  }
}

.navbar_visible {
  opacity: 1 !important;
  visibility: visible !important;
}

@media (max-width: 1170px) {
  .navbar__list-item {
    margin-bottom: 16px;
  }
  .navbar__list-item:last-child {
    margin-bottom: 0;
  }
}

.navbar__list-link {
  padding: 18px 10px;
  background-color: #FF7C3B;
  display: block;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

@media (max-width: 1500px) {
  .navbar__list-link {
    padding: 8px;
  }
}

@media (max-width: 1170px) {
  .navbar__list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    padding: 0;
  }
}

.navbar__list-link:hover {
  background-color: #ff5a08;
}

.navbar__list-link-icon {
  display: block;
  margin: 0 auto 6px;
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1500px) {
  .navbar__list-link-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1170px) {
  .navbar__list-link-icon {
    margin: 0 8px 0 0;
  }
}

.navbar__list-link-text {
  display: block;
  color: #fff;
  font-family: Geometria-B, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
}

.header {
  font-size: 16px;
  padding-top: 3.5em;
  position: relative;
  z-index: 1;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1170px) {
  .header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    -webkit-box-shadow: 0px 10px 55px rgba(0, 92, 199, 0.07);
            box-shadow: 0px 10px 55px rgba(0, 92, 199, 0.07);
    background-color: #fff;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1170px) {
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-top: .5em;
}

@media (max-width: 1170px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item {
  margin-left: 1.5em;
}

.header__nav-item:first-child {
  margin-left: 0;
}

.header__nav-link {
  color: #FF7C3B;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.header__nav-link:hover {
  color: #000;
}

@media (max-width: 1440px) {
  .header .header__logo-img {
    width: 260px;
    height: auto;
  }
}

@media (max-width: 1170px) {
  .header .header__logo-img {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .header .header__logo-img {
    width: 160px;
  }
}

.header__btn {
  width: 34px;
  height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1170px) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__btn-line {
  width: 100%;
  height: 3px;
  background-color: #FF7C3B;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.header__btn-line:nth-child(1) {
  top: 0;
}

.header__btn-line:nth-child(2) {
  top: calc(50% - 1px);
}

.header__btn-line:nth-child(3) {
  bottom: 0;
}

.header__btn_active .header__btn-line:nth-child(1) {
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
}

.header__btn_active .header__btn-line:nth-child(3) {
  bottom: calc(50% - 1px);
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
}

.header__btn_active .header__btn-line:nth-child(2) {
  opacity: 0;
}
/*# sourceMappingURL=critical-styles.css.map */