.plus {
  box-shadow: 0 0 68px 0 rgba(0, 17, 34, 0.13);
  position: relative;
  z-index: 1;
  padding-bottom: px-to-rem(60, 16);

  &__tabs {

    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      @include media(sm) {
        display: block;
        text-align: center;
        margin-bottom: 0;
      }

      .tab-btn {
        margin-right: 35px;
        letter-spacing: .12em;
        @include trs;
        background-color: transparent;
        color: $accent;
        cursor: pointer;
        padding: 10px 16px;
  
        @include media(sm) {
          margin: 0 auto 10px !important;
          display: block;
        }
  
        &_cur {
          background-color: $accent;
          color: white;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
      }
    }
  }

  &__pluses {
    display: flex;
    justify-content: center;
    margin-top: px-to-rem(60, 16);

    @include media(lg) {
      flex-wrap: wrap;
    }
    
    &-col {
      width: 100%;

      &:first-child,
      &:last-child {
        max-width: 25%;
        position: relative;
        z-index: 1;
        padding-top: px-to-rem(20, 16);

        @include media(lg) {
          order: 1;
          max-width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 0 !important;
        }

      }

      &:first-child {
        text-align: right;

        @include media(xl) {
          padding-right: 2.5%;
        }

        @include media(lg) {
          text-align: left;
          order: 2;
        }

        .line-icon {
          left: calc(100% + 4px);
        }

        .plus__pluses-col-item {

          &:nth-child(1) {

            .line-icon {
              top: 100%;
              width: 70px;
            }

          }

          &:nth-child(2) {

            .line-icon {
              top: 40%;
              width: 70px;
            }

          }

          &:nth-child(3) {

            .line-icon {
              top: 8%;
              width: 55px;
            }

          }

          &:nth-child(4) {

            .line-icon {
              top: 8%;
              width: 72px;
            }

          }

        }

      }

      &:last-child {

        @include media(xl) {
          padding-left: 2.5%;
        }

        @include media(lg) {
          order: 3;
        }

        .line-icon {
          right: calc(100% + 4px);
        }

        .plus__pluses-col-item {

          &:nth-child(1) {

            .line-icon {
              bottom: 70%;
              width: 126px;
              right: 102%;
            }

          }

          &:nth-child(2) {

            .line-icon {
              bottom: 56%;
              width: 74px;
            }

          }

          &:nth-child(3) {

            .line-icon {
              bottom: 80%;
              width: 120px;
            }

          }

          &:nth-child(4) {

            .line-icon {
              bottom: 8%;
              width: 260px;

              @include media(xl) {
                width: 220px;
              }

            }

          }

          &:nth-child(5) {

            .line-icon {
              bottom: 80%;
              right: 420px;
              width: 54px;
            }

          }

        }

      }

      &-wrap-img {
        max-width: 50%;

        @include media(xl) {
          max-width: 47%;
        }

        @include media(lg) {
          order: 1;
          max-width: 60%;
          margin: 0 auto;
        }

        @include media(sm) {
          max-width: 80%;
        }

      }

      &-img {
        margin-left: px-to-rem(-40, 16);
        width: 100%;
        height: auto;

        @include media(md) {
          margin-left: 0;
        }

      }

      &-item {
        margin-bottom: 22px;

        @include media(lg) {
          width: 50%;
          padding-right: 16px;

          br {
            display: none;
          }

        }

        @include media(sm) {
          width: 100%;
          padding-right: 0;
          text-align: center;
        }

        @include media(xl) {
          margin-bottom: 14px;
        }

        &:last-child {
          margin-left: px-to-rem(-330, 16);

          @include media(xl) {
            margin-left: px-to-rem(-220, 16);
          }

          @include media(lg) {
            margin-left: 0;
          }
        }

        &-icon {
          width: 36px;
          height: 36px;
          object-fit: contain;
          object-position: center;
          margin: 0 36px;

          @include media(xl) {
            width: 28px;
            height: 28px;
            margin: 0 28px;
          }

          @include media(lg) {
            margin: 0 0 6px;
          }

        }

        &-text {
          @include Geometria-B;
          font-size: 14px;
          line-height: 1.3;
          position: relative;

          @include media(xl) {
            font-size: 10px;
          }

          @include media(lg) {
            font-size: 12px;
          }

          @include media(sm) {
            font-size: 16px;
          }


          .line-icon {
            position: absolute;
            height: auto;

            @include media(lg) {
              display: none;
            }

          }

        }

      }

    }

  }

  .plus__pluses-col-img_text {
    position: absolute;
    top: 26%;
    left: 100%;
    width: px-to-rem(280, 16);
    height: auto;

    @include media(md) {
      display: none;
    }

  }

  .tab-content[data-tab-key="details"] {

    .plus__pluses-col.plus__pluses-col-wrap-img {
      max-width: 50%;

      @include media(lg) {
        margin-left: 10%;
      }

      @include media(md) {
        margin: 0 auto;

        img {
          margin: 0;
        }

      }

      @include media(sm) {
        max-width: 80%;
      }

    }

  }

}

