.plus.sec#plus
    .wrapper
        .plus__inner
            .sec__titles.sec__titles_black
                span.sec__title Чем домики замечательны?

            ul.case__tabs.block-tabs
                .plus__tabs-btns
                    button.tab-btn.tab-btn_cur(data-tab-key="pluses") Преимущества
                    button.tab-btn(data-tab-key="details" data-sec-class="sec_yellow") Домик в разборе


                .plus__tabs-contents
                    .tab-content.tab-content_cur(data-tab-key="pluses")
                        .plus__pluses
                            ul.plus__pluses-col
                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_1.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Каркас можно<br> прикрепить к стене
                                        img.line-icon(src="img/1-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_2.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Кровать полностью<br> разбирается<br> (одним ключом)
                                        img.line-icon(src="img/2-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_3.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Мы сделали кровать<br> полностью экологически чистой.<br> Дерево и металл. Никаких токсинов
                                        img.line-icon(src="img/3-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_4.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Тело вашего ребенка<br> нигде не соприкасается<br> с металлом.
                                        img.line-icon(src="img/4-1.svg" alt="")


                            .plus__pluses-col.plus__pluses-col-wrap-img
                                img(src="img/pluses_1.png" alt="").plus__pluses-col-img


                            ul.plus__pluses-col
                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_5.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Если ребенок<br> не хочет спать на матрасе —<br> давайте повесим гамак!
                                        img.line-icon(src="img/5-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_6.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Перекладина съемная<br> и не влияет<br> на прочность конструкции
                                        img.line-icon(src="img/6-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_7.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Для здорового сна<br> мы применяем<br>  ортопедические<br>  матрасы и основания<br> Baby Balance или Baby Optima
                                        img.line-icon(src="img/7-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_8.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Мы сделали бортики,<br> чтобы ребенок<br> не выпал во сне
                                        img.line-icon(src="img/8-1.svg" alt="")

                                li.plus__pluses-col-item
                                    img(src="img/pluses_icon_9.svg" alt="").plus__pluses-col-item-icon
                                    p.plus__pluses-col-item-text Мы подобрали идеальное расстояние от пола до матраса<br> Матрас проветривается, ребенок легко забирается,<br> а под кроваткой помещается ящик с игрушками
                                        img.line-icon(src="img/9-1.svg" alt="")



                    .tab-content(data-tab-key="details")
                        .plus__pluses
                            .plus__pluses-col.plus__pluses-col-wrap-img
                                img(src="img/pluses_2.png" alt="").plus__pluses-col-img
                                img(src="img/pluses_2_text.png" alt="").plus__pluses-col-img_text
