//Header BEGIN
include ../../header/header
//Header END

//Main BEGIN
main.home__main
    include components/components
    include ../../popups/popups
//Main BEGIN

//Footer BEGIN
include ../../footer/footer
//Footer END