.footer {
  padding: px-to-rem(45, 16) 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(lg) {
      display: block;
    }
  }

  &__copyright {
    width: 25%;
    letter-spacing: .12em;

    @include media(xl) {
      width: 30%;
    }

    @include media(lg) {
      width: 100%;
      text-align: center;
      display: block;
      margin-bottom: 16px;
    }

  }

  &__nav {
    width: 75%;
    padding-left: 10%;
    padding-top: 0;
    display: flex !important;

    @include media(xl) {
      padding-left: 5%;
    }

    @include media(lg) {
      width: 100%;
      padding: 0;
      text-align: center;
      justify-content: center;
    }
    @media (max-width: 767px) {
      display: none !important;
    }
  }

}
