footer.footer
    .wrapper
        .footer__inner

            span.footer__copyright © Кроватки-домики, 2020

            ul.footer__nav.header__nav
                li.header__nav-item
                    button.header__nav-link.modal-btn(data-popup-key="message") Написать письмо

                li.header__nav-item
                    button.header__nav-link.modal-btn(data-popup-key="callback") Заказать звонок

                li.header__nav-item
                    button.header__nav-link.modal-btn(data-popup-key="pay") Способы оплаты
