extends ../pug/layouts/default
include ../pug/helpers/mixins


block variables
	- const title = "Home";
	- const bodyClass = "home";


block append styles
	link(rel="stylesheet" href="styles/bundle.css")


block content
	include ../blocks/pages/home/home



block append scripts
	script(src="js/bundle.js")
