.banner {
  padding-top: px-to-rem(60, 16);
  padding-bottom: px-to-rem(20, 16);
  overflow: hidden;

  @include media(lg) {
    padding-bottom: 0;
    padding-top: 0;
  }

  @include media(sm) {
    padding-bottom: 0;
    .wrapper {
      padding: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include media(sm) {
      display: block;
    }

  }

  &__wrap-videos {
    position: relative;
    width: 780px;
    height: 780px;
    margin: -100px 0 0 -220px;

    @include media(lg) {
      width: 600px;
      height: 600px;
      margin: -50px 0 0 -300px;
    }

    @include media(sm) {
      width: 120%;
      height: auto;
      margin: -20px 0 0 -10%;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    @include trs;

    @include media(xl) {
      width: 80%;
      height: 80%;
    }

    &.active {
      opacity: 1;
    }
  }

  &__btn {
    flex-shrink: 0;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 0;

    @include media(sm) {
      // position: static;
      display: none;
      // margin: 0 auto;
    }

  }

}
