.banner
    .wrapper
        .banner__inner
            .banner__wrap-videos
                video.banner__video.first.active(autoplay loop muted)
                    source(src="img/banner_video_1.mp4" type="video/mp4")
                video.banner__video.second(autoplay loop muted)
                    source(src="img/banner_video_2.mp4" type="video/mp4")

            button.banner__btn.btn(
                    data-text-first="Одеть чехол"
                    data-text-second="Снять чехол"
                    data-cur-video="first"
                ) Одеть чехол
