.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: px-to-rem(50, 16);
  text-align: center;

  @include media(sm) {
    margin-top: 20px;
  }

  &__item {
    width: 100%;
    max-width: 26%;
    padding: 0 px-to-rem(40, 16);
    letter-spacing: .12em;

    @include media(lg) {
      max-width: 50%;
      margin-bottom: 30px;
    }

    @include media(sm) {
      max-width: 100%;
      padding: 0;
    }

    &-icon {
      display: block;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      height: 35px;
      object-position: center;
      object-fit: contain;
      margin-bottom: 10px;
    }

    &-title {
      @include Geometria-B;
      margin-bottom: px-to-rem(20, 16);
      font-size: 18px;
      display: block;
    }

    &-text {
      font-size: 14px;
      display: block;
      margin-bottom: px-to-rem(8, 16);
      line-height: 1.4;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $accent;
      text-decoration: underline;
    }

  }

}