.light {
  background-color: #80B3CD;
  padding: 0;

  &__inner {
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 570px;
    padding: px-to-rem(40, 16) 0;
    position: relative;
    flex-wrap: wrap;

    @include media(xl) {
      min-height: 570px;
    }

    @include media(lg) {
      min-height: 440px;
    }

    @include media(sm) {
      padding: 0;
      min-height: 300px;
      align-items: flex-start;
    }

    & > * {
      width: 100%;
      max-width: 50%;

      @include media(md) {
        max-width: 100%;
      }
    }

    .sec__titles {
      text-align: left;
      color: #fff;
    }

  }

  .light__img img {

    @include media(xl) {
      max-width: 70% !important;
    }

  }

  &__left {

    @include media(xl) {
      padding-right: px-to-rem(40, 16);
    }

    @include media(sm) {
      margin-top: 0;
    }

    @include media(md) {
      order: 2;
      padding: 0;
      margin-top: 40px;
      min-height: 255px;
      position: relative;
    }

    @media (max-width: 767px) {
      position: absolute;
    }

    > * {
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 50%;
      max-width: 50%;
      height: auto;

      @include media(md) {
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include media(sm) {
        width: 300px;
        max-width: 300px;
      }

      &.active {
        opacity: 1;
      }
    }

    img {
      margin-left: px-to-rem(100, 16);

      @include media(xl) {
        margin: 0 auto;
        width: 100%;
        max-width: 80%;
        display: block;
      }

    }

  }

  &__right {

    @include media(md) {
      order: 1;
      text-align: center;
      margin-top: 20px;

      .sec__title {
        text-align: center;
        @media (max-width: 767px) {
          text-align: left;
        }
      }

    }
    @media (max-width: 767px) {
      text-align: left;
      z-index: 2;
    }

    &-text {
      margin-bottom: px-to-rem(36, 16);
    }

  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 16px;
    margin: 0 12px;
    height: 16px;
    background-color: #293035;
    border-radius: 50%;
    cursor: pointer;
    @include trs;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $accent;
      width: 6px;
      height: 6px;
      opacity: 0;
      @include trs;
    }

    &-active {

      &:after {
        opacity: 1;
      }

    }

  }

}

