.light.sec#light
    .wrapper
        .light__inner

            .light__left
                .light__img.active
                    img(src="img/light-img.png" alt="")

                .light__slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/light-slider.png" alt="")

                        .swiper-slide
                            img(src="img/light-slider.png" alt="")


                    //- .swiper-pagination



            .light__right
                .sec__titles.sec__titles_black
                    span.sec__title Бесплатно<br> электрифицируем<br> домик!

                p.light__right-text Для защиты от монстров, живущих под кроватью,<br> мы дарим волшебный ночник для домика!

                button.light__btn.btn(
                    data-text-first="Включить свет"
                    data-text-second="Выключить свет"
                    data-cur-el="light__img"
                ) Включить свет



