block variables

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2")
		meta(name="description" content="Описание")
		link(rel="shortcut icon" type="image/x-icon" sizes="64x64" href="img/favicons/favicon.ico")

		//Favicons BEGIN
		// https://realfavicongenerator.net
		//Favicons END


		meta(property="og:title" content="Заголовок")
		meta(property="og:site_name" content="Название сайта")
		meta(property="og:url" content="https://site-url.com")
		meta(property="og:description" content="Описание сайта")
		meta(property="og:image" content="img/preview-social-link/preview-social-link.png")
		meta(property="vk:image" content="img/preview-social-link/preview-vk-link.png")


		//Critical styles BEGIN
		link(rel="stylesheet" href="styles/critical-styles.css" inline)
		//Critical styles END


		//Critical scripts BEGIN
		script(src="js/critical-scripts.js" inline)
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBctr_1U3qL7kuTPAg0qIpT8ylXBJHwSZY")
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		//Critical scripts END


		//Styles BEGIN
		block styles
		//Styles END


	body(class=bodyClass).page

		block content

		block scripts
