.dealers {
  background-color: $accent;
  padding-bottom: px-to-rem(65, 16);
  @include media(sm) {
    padding-bottom: 0px;
    .wrapper {
      padding: 0;
    }
  }

  &__inner {
    position: relative;
  }
  
  &__decor {
    position: absolute;
    bottom: px-to-rem(-65, 16);
    left: 0;

    @include media(lg) {
      display: none;
    }

  }

  .sec__titles {
    color: #fff;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: px-to-rem(90, 16) 0 px-to-rem(55, 16);

    @include media(sm) {
      margin-bottom: 0;
      margin-top: 30px;
      flex-direction: column;
    }

    &-item {
      margin-right: px-to-rem(90, 16);
      

      @include media(sm) {
        display: flex;
        width: 100%;
        max-width: 50%;
        margin-bottom: 40px;
        margin-right: 0;
        text-align: left;
      }

      &:last-child {
        margin-right: 0;
      }

      &-icon {
        margin: 0 20px 0 0;
        width: 50px;
        height: 50px;
        object-fit: contain;
        display: block;
        object-position: center;
      }

      &-text {
        color: #fff;
        display: block;
        @include Geometria-B;
        letter-spacing: .12em;
      }

    }

  }

  &__btn {
    display: block;
    margin: 0 auto;
    @include media(sm) {
      height: 70px;
      width: 100%;
    }
    
  }

}

