.dealers.sec#dealers
    .wrapper
        .dealers__inner
            img.dealers__decor(src="img/trumpet.png" alt="")


            .sec__titles.sec__titles_black
                span.sec__title Ищем дилеров!
                span.sec__subtitle Мы предлагаем:


            ul.dealers__list
                li.dealers__list-item
                    img.dealers__list-item-icon(src="img/rabota.svg" alt="")
                    span.dealers__list-item-text Работа<br> без посредников

                li.dealers__list-item
                    img.dealers__list-item-icon(src="img/sklad.svg" alt="")
                    span.dealers__list-item-text Складская<br> программа

                li.dealers__list-item
                    img.dealers__list-item-icon(src="img/oplata.svg" alt="")
                    span.dealers__list-item-text Удобная <br> форма оплаты


            button.btn.dealers__btn.btn_dark.modal-btn(data-popup-key="callback") Связаться с нами
