.slider {
  background: #EFEFEF;
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__inner {
    position: relative;
    margin-top: px-to-rem(-20, 16);
  }

  &__item {

    @include media(sm) {
      min-height: 230px;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-top: 80%;
      }
    }

    &-video {
      width: 100%;
      min-width: 120%;
      margin-left: -10%;
      height: auto;

      @include media(sm) {
        position: absolute;
        width: 280%;
        min-height: 100%;
        top: 50%;
        margin-top: -50px;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: auto;
        margin-left: 0;
      }

    }

    &-text {
      font-size: px-to-rem(24, 16);
      @include Geometria-L;
      text-align: center;
      display: block;
      margin: -70px auto px-to-rem(60, 16);
      letter-spacing: .12em;
      position: relative;
      z-index: 1;
      padding: 0 px-to-rem(30, 16);

      @include media(xl) {
        margin: -20px auto px-to-rem(60, 16);
        font-size: px-to-rem(20, 16);
      }

      @include media(lg) {
        margin: 20px auto px-to-rem(60, 16);

        br {
          display: none;
        }

      }

      @include media(md) {
        margin-top: -30px;
        margin-bottom: 30px;
      }

      @include media(sm) {
        font-size: 14px;
        padding: 0;
        margin: -20px 0 20px;
      }

    }

  }

  &__navs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    position: absolute;
    top: calc(50% + 20px);
    z-index: 1;
    width: 200px;

    @include media(lg) {
      width: 150px;
    }

    @include media(md) {
      position: relative;
      top: auto;
      margin-bottom: 40px;
    }

    @include media(sm) {
      padding: 16px 8px;
      width: 35%;
    }

    &.swiper-button-disabled {
      pointer-events: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translate(0, -50%) scale(.8, 1);
      border: 29px solid transparent;
      transition: inherit;

      @include media(sm) {
        border-width: 23px;
      }
    }

    &_prev {
      left: 30px;

      &:after {
        border-right-color: $accent;
        right: 97%;

        @include media(lg) {
          right: 96%;
        }

        @include media(sm) {
          right: auto;
          left: -41px;
        }
      }

      &:hover {

        &:after {
          border-right-color: darken($accent, 10%);
        }

      }

    }

    &_next {
      right: 30px;

      &:after {
        border-left-color: $accent;
        left: 97%;

        @include media(lg) {
          left: 96%;
        }

        @include media(sm) {
          left: auto;
          right: -41px;
        }

      }

      &:hover {

        &:after {
          border-left-color: darken($accent, 10%);
        }

      }

    }

  }

}

