.slider.sec#slider
    .wrapper
        .swiper-container.slider__inner
            .swiper-wrapper

                .slider__item.swiper-slide
                    video.slider__item-video(autoplay loop muted)
                        source(src="img/slider_1.mp4" type="video/mp4")
                    p.slider__item-text Мы долго думали, как убедить вас<br> купить своему ребенку кроватку-домик.

                .slider__item.swiper-slide
                    video.slider__item-video(autoplay loop muted)
                        source(src="img/slider_5.mp4" type="video/mp4")
                    p.slider__item-text Хотели рассказать про первый дом <br> вашего малыша. Ведь дети<br> так хотят быть самостоятельными.

                .slider__item.swiper-slide
                    video.slider__item-video(autoplay loop muted)
                        source(src="img/slider_6.mp4" type="video/mp4")
                    p.slider__item-text А еще хотели написать много<br> важной и скучной информации<br> о том, какая эта кровать крутая<br> И как комфортно в ней спать.

                .slider__item.swiper-slide
                    video.slider__item-video(autoplay loop muted)
                        source(src="img/slider_2.mp4" type="video/mp4")
                    p.slider__item-text Мы хотели рассказать<br> об ее исключительной<br> экологичности.

                .slider__item.swiper-slide
                    video.slider__item-video(autoplay loop muted)
                        source(src="img/slider_4.mp4" type="video/mp4")
                    p.slider__item-text А потом, знаете, мы решили,<br> что ваш ребенок увидит домик<br> и все сделает за нас.

                //- .slider__item.swiper-slide
                //-     video.slider__item-video(autoplay loop muted)
                //-         source(src="img/slider_3.mp4" type="video/mp4")
                //-     p.slider__item-text Мы долго думали, как убедить вас<br> купить своему ребенку кроватку-домик купить своему ребенку кроватку-домик купить своему ребенку кроватку-домик


            .slider__navs
                button.btn.slider__btn.slider__btn_prev Назад
                button.btn.slider__btn.slider__btn_next Вперед

