.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent;
  font-size: 16px;
  cursor: pointer;
  @include trs;
  z-index: 4;

  @media (max-width: 1170px) {
    top: auto;
    bottom: 0;
  }

  // @media (max-width: 767px) {
  //   top: 0;
  //   right: 0;
  //   z-index: 99;
  // }
  

  &:hover {
    background-color: darken($accent, 10%);
  }

  &__icon {
    width: 23px;
    height: auto;
  }

  &__count {
    color: #fff;
    margin-left: 8px;
  }

}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 14px;
  width: px-to-em(130, 16);
  background-color: $accent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .navbar__list__mobile {
    display: none;
  }

  @media (max-width: 1500px) {
    width: px-to-em(90, 12);
    font-size: 11px;
  }

  @media (max-width: 1170px) {
    width: 100%;
    height: calc(100% - 90px);
    top: auto;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s all ease;
  }

  @include media(md) {
    height: calc(100% - 70px);
  }

  @media (max-width: 767px) {
    .navbar__list {
      display: none;
    }
    .navbar__list__mobile {
      // display: initial;
      display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
    }
  }
  

  &_visible {
    opacity: 1 !important;
    visibility: visible !important;
  }

  &__list {

    &-item {

      @media (max-width: 1170px) {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }

    }

    &-link {
      padding: 18px 10px;
      background-color: $accent;
      display: block;
      @include trs;

      @media (max-width: 1500px) {
        padding: 8px;
      }

      @media (max-width: 1170px) {
        display: flex;
        align-items: center;
        background-color: transparent;
        padding: 0;
      }

      &:hover {
        background-color: darken($accent, 10%);
      }

      &-icon {
        display: block;
        margin: 0 auto 6px;
        width: 28px;
        height: 28px;
        object-fit: contain;
        object-position: center;

        @media (max-width: 1500px) {
          width: 20px;
          height: 20px;
        }

        @media (max-width: 1170px) {
          margin: 0 8px 0 0;
        }

      }

      &-text {
        display: block;
        color: #fff;
        @include Geometria-B;
        line-height: 1.2;
      }

    }

  }
}


.header {
  font-size: 16px;
  padding-top: px-to-em(70, 20);
  position: relative;
  z-index: 1;

  .header__logo {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1170px) {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 10px 55px rgba(0, 92, 199, 0.07);
    background-color: #fff;
  }

  &__inner {
    display: flex;
    align-items: flex-start;

    @media (max-width: 1170px) {
      align-items: center;
      justify-content: space-between;
    }

  }

  &__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-top: .5em;

    @media (max-width: 1170px) {
      display: none;
    }

    &-item {
      margin-left: 1.5em;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      color: $accent;
      @include trs;

      &:hover {
        color: $default-text;
      }
    }
  }

  @include media(xl) {

    .header__logo-img {
      width: 260px;
      height: auto;
    }

  }

  @media (max-width: 1170px) {

    .header__logo-img {
      width: 220px;
    }

  }

  @include media(md) {

    .header__logo-img {
      width: 160px;
    }

  }

  &__btn {
    width: 34px;
    height: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    cursor: pointer;
    position: relative;

    @media (max-width: 1170px) {
      display: flex;
    }

    &-line {
      width: 100%;
      height: 3px;
      background-color: $accent;
      transform-origin: 50% 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .4s all ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(50% - 1px);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &_active {

      .header__btn-line {
        &:nth-child(1) {
          top: calc(50% - 2px);
          transform: translate(-50%, 0) rotate(-45deg)
        }

        &:nth-child(3) {
          bottom: calc(50% - 1px);
          transform: translate(-50%, 0) rotate(45deg)
        }

        &:nth-child(2) {
          opacity: 0;
        }
      }

    }

  }

}


