.cart.modal-btn(data-popup-key="cart")
    img.cart__icon(src="img/cart.png" alt="")
    span.cart__count 0


nav.navbar
    ul.navbar__list
        li.navbar__list-item
            a(href="#products").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-1.png" alt="")
                span.navbar__list-link-text Каркасы

        li.navbar__list-item
            a(href="#case").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-2.png" alt="")
                span.navbar__list-link-text Чехлы

        li.navbar__list-item
            a(href="#plus").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-3.png" alt="")
                span.navbar__list-link-text Качество

        li.navbar__list-item
            a(href="#slider").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-4.png" alt="")
                span.navbar__list-link-text Смотрите, что!

        li.navbar__list-item
            a(href="#after").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-6.png" alt="")
                span.navbar__list-link-text Что потом?

        li.navbar__list-item
            a(href="#light").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-5.png" alt="")
                span.navbar__list-link-text Подарки

        li.navbar__list-item
            a(href="#dealers").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-7.png" alt="")
                span.navbar__list-link-text Дилерам

        li.navbar__list-item
            a(href="#contacts").navbar__list-link
                img.navbar__list-link-icon(src="img/menu-8.png" alt="")
                span.navbar__list-link-text Где купить

    ul.navbar__list__mobile
        li.header__nav-item
            button.header__nav-link.modal-btn(data-popup-key="callback") Заказать звонок

        li.header__nav-item
            button.header__nav-link.modal-btn(data-popup-key="callback") Напишите нам

        li.header__nav-item
            button.header__nav-link.modal-btn(data-popup-key="callback") Подробнее об оплате


header.header
    .wrapper
        .header__inner

            a(href="JavaScript: location.reload(true);" rel="noreferrer").header__logo
                img.header__logo-img(src="img/logo.png" alt="")


            ul.header__nav
                li.header__nav-item
                    a.header__nav-link(href="#dealers") Дилерам

                li.header__nav-item
                    button.header__nav-link.modal-btn(data-popup-key="callback") Заказать звонок

                li.header__nav-item
                    a.header__nav-link(href="#contacts") Контакты

            button.header__btn
                span.header__btn-line
                span.header__btn-line
                span.header__btn-line
