.products__list-item-cart.disabled {
  background-color: #64C733 !important;
}

.disabled {
  pointer-events: none;
}

.form {

  &__title {
    font-size: px-to-rem(36, 16);
    display: block;
    margin: 0 auto 10px;
    @include Geometria-B;
    letter-spacing: .13em;
    text-align: center;
    line-height: 1;

    @include media (md) {
      font-size: 28px;
      padding: 0 16px;
    }
  }

  &__subtitle {
    font-size: 13px;
    display: block;
    margin: 0 auto;
    letter-spacing: .13em;
    text-align: center;

    @include media (md) {
      font-size: 12px;

      br {
        display: none;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;

    span {
      color: red;
    }

  }

  &-cart {
    padding-top: px-to-rem(40, 16);
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      min-width: 900px;
      height: 4px;
      background-image: linear-gradient(90deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(90deg, $accent, $accent, $accent, $accent);
      background-size: 20px 3px, 100% 3px;
    }

    .form__fields {
      justify-content: flex-start !important;
      margin-bottom: px-to-rem(35, 16);
    }

  }

  &__radio {
    display: flex;
    align-items: center;
    margin-right: px-to-rem(40, 16);
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    input {
      display: none;

      &:checked + .form__radio-box {

        &:after {
          opacity: 1;
        }

      }

    }

    &-box {
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border-radius: 100%;
      position: relative;
      background-color: #F3F3F3;
      border: 1px solid #E6E6E6;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: inherit;
        opacity: 0;
        background-color: #000;
      }

    }

    &-text {
      font-size: 14px;
    }

  }

  &__fields {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form__wrap-field {
      width: 48%;
      margin-bottom: 0;
      display: flex;
      align-items: center;

      span {
        margin: 0 10px
      }
    }

  }

  &__wrap-field {
    margin-bottom: 20px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__field {
    height: 45px;
    padding: 12px 16px;
    color: $default-text;
    background-color: #F4F4F4;
    width: 100%;
    display: block;

    &_textarea {
      vertical-align: middle;
      min-height: 125px;
    }

    &::placeholder {
      color: #999999;
    }

  }

  

  &__select {

  }

  &__btn {
    display: block;
    margin: 30px auto 10px;
  }

}

.d-none {
  display: none !important;
}

.left__top.products__list-item {
  display: block !important;
  max-width: none !important;
}

// .callform-fields {
//   .form__label {
//     text-align: right;
//     clear: both;
//     float: left;
//     margin-right: 15px;
//   }

//   .callback-input {
//     display: inline-block;

//   }
// }