* {
  box-sizing: border-box
}

html {
  font-size: 16px;

  @include media (xl) {
    font-size: 14px;
  }

  &.page-fixed {
    overflow: hidden;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.2;
  color: $default-text;
  font-kerning: normal;
  overflow-x: hidden;
  transition: .4s opacity ease;
  @include Geometria;

  @include media(xl) {
    font-size: 14px;
  }

  @media (max-width: 1170px) {
    padding-top: 95px;
  }

  @include media(md) {
    font-size: 12px;
    padding-top: 77px;
  }

  @include media(sm) {
    font-size: 14px;
  }

  &.page-fixed {
    overflow-y: scroll;
  }

  &.visible {
    opacity: 1;
  }
}

img.lazy {
  transition: .6s all ease;
  opacity: 0;

  &.loaded,
  &.loading {
    opacity: 1;
  }
}

.el-disabled {
  pointer-events: none;
}

.image-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s all ease;
  width: 90px;
  height: auto;
}

.image-load {
  opacity: 1;

  + .image-preloader {
    opacity: 0;
  }
}

::selection {
  background-color: $accent;
  color: #fff;
}

.sec {
  padding-top: px-to-rem(60, 16);
  transition: .5s all ease;

  @include media(md) {
    padding-top: 30px;
  }

  &_dark {
    background-color: #142A3B !important;
  }
  
  &_yellow {
    background-color: #FCC231 !important;
  }

  &__titles {
    text-align: center;

    &_black {
      color: $title;
    }

    &_white {
      color: #fff;
    }

    > * {
      display: block;
    }
  }

  &__title {
    font-size: px-to-rem(36, 16);
    @include Geometria-B;
    margin-bottom: 20px;
    letter-spacing: .13em;

    @include media(md) {
      font-size: 28px;
      margin-bottom: 16px;
    }

    @include media(sm) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: px-to-rem(24, 16);
    letter-spacing: .13em;

    @include media(md) {
      font-size: 20px;
    }

    @include media(sm) {
      font-size: 16px;

      br {
        display: none;
      }

    }

  }
}